[2016-05-22 00:15] codywatts opened #1 "Limiting results to two decimal places gives inaccurate results when working with small values."
In functions such as the SMA, the result is truncated to two decimal places before being returned to the caller. When working with numbers which are sufficiently small, this greatly impacts the accuracy/usefulness of the values which are returned.

[2016-05-22 15:05] anandanand84 commented on #1
Do you have an input and an expected value for this scenario?

[2016-05-28 07:37] codywatts commented on #1
Example code:
[code]
Output:
[code]
Expected output:
[code]

[2016-09-06 15:15] debsush opened #2 "generator function not supported by IOS or Opera etc"
Hi,

The generator function may not be supported by some of the web and mobile browsers as per below link.  Is this correct?

[https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Iteration_protocols#iterable](url)

Is yes, was wondering if we could replace the generator function with something more generic which can be supported by almost all common browsers.  It would far outweight

[2016-09-06 15:25] anandanand84 commented on #2
There is a browser version available at dist/browser.js which works in all the browsers, did you try that?

https://github.com/anandanand84/technicalindicators/blob/master/dist/browser.js

[2016-09-07 07:24] debsush commented on #2
No, I must admit I did not.  Thanks for this one.  Can you please explain what does the browser.js do.  Does it make the generator function compatible across browsers or is it a rewritten indicator function which uses generic JS syntax which is compatible across browsers.

Appreciate if you could give a summary of the concept behind the browser.js  I realized deciphering the functionality of brows

[2016-09-08 18:21] debsush commented on #2
I think I understand the use of Babel.  Thank you

[2016-09-08 18:21] #2 closed

[2016-12-22 07:49] chiu0602 commented on #1
Would it be better to change `toFixed(x)` to `toPrecision(x)`?

[2016-12-24 20:39] chiu0602 opened #4 "link broken in readme"
In readme, link broken for [OBV](https://runkit.com/anandaravindan/obv) and [TRIX](https://runkit.com/anandaravindan/trix)

[2016-12-24 21:40] #1 closed

[2016-12-24 22:01] anandanand84 commented on #4
Fixed the broken links

[2016-12-24 22:01] #4 closed

[2016-12-26 18:21] chiu0602 opened #6 "it seems that ADX / DMI code is not yet finished"

[2017-01-01 16:25] chiu0602 opened #15 "variable "strategy" is not defined in CandlestickFinder.js"
Here is the stack trace:
[code]

[2017-01-01 17:34] chiu0602 opened #16 ""reversedInput" parameter modified input value"
Example code:
[code]
Expected output:
[code]

Actual output:
[code]

For `calculate` function for indicators with `reversedInput: true`, input value array is reversed. As JS array use pass by reference approach, `slice(0)` should be used, or `reverse()` the array again to keep the original value of input parameter.

[2017-01-01 17:37] anandanand84 commented on #15
Hmmm, Do not use candlestick patterns yet, it is not complete, I'll add example in runkit once it is done, This is very basic there will be a lot of changes when we add more candlestick so the api may break.

[2017-01-01 17:45] anandanand84 commented on #15
I think you are using the old version, has pattern should work in latest version, all tests are passing. It should fail only in getAllPatternIndex.

[2017-01-01 18:29] chiu0602 commented on #15
I don't sure whether old version is used, but variable `strategy` cannot be found.

Even the pattern check haven't been fully implemented, I really can't wait for this interesting feature. Please let me put some comments here:
If array cannot fulfill `requiredCount`, exception should not be thrown. It is because logically it should be grouped into "pattern not found".
It is no doubt that your appr

[2017-01-08 17:51] anandanand84 commented on #15
This is fixed on 0.2.9.

[sample](https://runkit.com/aarthiaradhana/bearishengulfingpattern)

[2017-01-08 17:51] #15 closed

[2017-01-08 18:08] chiu0602 commented on #15
Sorry may I know where is `strategy` defined? I saw it be used in `CandlestickFinder.js` but I am not able to find where it is declared. Thanks

[2017-01-08 20:56] anandanand84 commented on #15
CandlestickFinder is the parent class for all candlestick patterns, every candlestick pattern has a method logic, which is the strategyFn that is used. You can see this

https://github.com/anandanand84/technicalindicators/blob/master/lib/candlestick/CandlestickFinder.js#L32

and

https://github.com/anandanand84/technicalindicators/blob/master/lib/candlestick/BearishEngulfingPattern.js#L8

[2017-01-09 01:30] chiu0602 commented on #15
Please try to change the input as follows in the [sample](https://runkit.com/aarthiaradhana/bearishengulfingpattern) to:
[code]
Then you will get what I mean.
Thanks!

[2017-01-09 02:11] anandanand84 commented on #15
Good catch!! It was due to dangerous copy paste. I have fixed it and added a test for it. Thanks. It should be available in version 0.2.10

[2017-01-11 18:44] yosbelms opened #23 "Have you thought of add CCI?"

[2017-01-11 18:45] yosbelms opened #24 "Have you thought of add Heikin Ashi?"

[2017-01-11 19:12] anandanand84 commented on #23
Yes, we have planned to add all technical indicators.

[2017-01-14 17:27] chiu0602 opened #25 "Request for adding new indicators: MACD-Zero-Lag"
As title, a wish. Detail:
[https://www.tradingview.com/script/GcbLcwG7-MACD-Zero-Lag/](https://www.tradingview.com/script/GcbLcwG7-MACD-Zero-Lag/)

[2017-01-14 20:00] anandanand84 commented on #25
if you can give me a link about the logic and test case I can take a look

On Sat, Jan 14, 2017, 11:27 AM chiu0602 <notifications@github.com> wrote:

[2017-01-15 19:56] chiu0602 opened #26 "Separate candles with bearish and bullish"
Some candle patterns such as Marubozu and Harami grouped bearish and bullish into one pattern. I think separating them into two should provide better usage for them.

[2017-01-15 19:59] anandanand84 commented on #26
yes there is plan to add a picture to find all bullish and bearish in one call as well

[2017-01-15 20:06] chiu0602 commented on #25
You can find the logic from the link below the graph. If you need sample output set, please let me know and I will get it from the graph. Thanks!

[2017-02-08 23:06] anandanand84 commented on #26
See https://github.com/anandanand84/technicalindicators/blob/master/lib/candlestick/Bullish.js

[2017-02-08 23:06] #26 closed

[2017-03-10 23:09] anandanand84 commented on #16
Fixed

[2017-03-10 23:09] #16 closed

[2017-03-20 12:21] roblav96 opened #37 "This is flipping awesome =]"
Hello mate! Apologies as this is not an issue but more of a `this project is awesome`! I love the Typescript support. I'm a newb at stock analysis but I'd love to share my experiences with you.

Right now I'm pulling quotes from Robinhood's API [Quote.md](https://github.com/sanko/Robinhood/blob/master/Quote.md#gather-quote-data-for-multiple-ticker-symbols-in-a-single-api-call). I'm able to obtain

[2017-03-20 20:48] vaunus opened #38 "Cannot load some indicators in newer versions"
I am seeing issues with a number of the candlestick patterns in newer versions with error

For example:
[code]

The above will throw the error and I am seeing this across a number of patterns, not just Doji. The last version available on npm that seems stable is 0.2.17.

[2017-03-20 21:52] anandanand84 commented on #38
Ok with the 0.2.20 version we migrated things to typescript and there are few breaking changes, technically it should be a major bump, since not a lot of people are using I didn't major bump it. If you are using the latest version in npm, your example should be like

[code]

We need to update this in runkit.

I also pushed a [Playground with code completion](https://anandanand84.github.io/ "Playgr

[2017-03-20 21:52] #38 closed

[2017-03-25 17:50] linnya opened #39 "TypeError: Cannot read property 'hasPattern' of undefined"
Hi everyone, when I test any example of candlesticks patterns

I get same error:

`TypeError: Cannot read property 'hasPattern' of undefined`

[code]
![error](https://cloud.githubusercontent.com/assets/19173666/24324738/63c67b1e-116a-11e7-8249-516db18ad74b.png)

ty

[2017-03-25 18:00] anandanand84 commented on #39
Hi

Please look https://github.com/anandanand84/technicalindicators/issues/38 and let me know if that solves your issue.

[2017-03-26 01:24] linnya commented on #39
sorry for duplicate issue, i tried with lowercase

My code:
[code]

Thank you ;)

[2017-03-26 14:20] linnya commented on #39
Solved ;)

`var AbandonedBaby = require('technicalindicators').abandonedbaby;
var drawCandleStick = require('draw-candlestick');
var canvas = require('canvas')

var threeDayInput = {
  open: [31.10,26.18,27.47],
  high: [31.80,26.91,30.94],
  close: [28.10,26.18,30.62],
  low: [27.50,25.40,27.03]
}
var imageBuffer = drawCandleStick(threeDayInput);
console.log(imageBuffer);
// dont use .hasPattern

[2017-03-26 14:20] #39 closed

[2017-03-29 08:02] roblav96 opened #40 "[Webpack v2] Module not found: Error: Recursion in resolving"
Hello mate,

Today I've been migrating my playground/sandbox over to webpack 2.0 and I can't get `technicalindicators` to resolve properly =[

It yells at me:
[code]
Here's a gist
https://gist.github.com/roblav96/e36937c29384db5530164e7373b2a1e5
of the full log and the `webpack.config.js`. (I hate when people leave absurdly long console.logs in the OP)

Any idea what could be the issue? I'm gonna

[2017-04-10 12:21] knoopx commented on #40
I have the same problem, seems like the `main` entry from `linkedlist`'s `package.json` is incorrect. You can workaround the problem by adding an alias to you webpack config:

[code]

[2017-04-11 01:41] roblav96 commented on #40
@knoopx You are so winning!!! Thanks mate.

[2017-04-11 04:45] #40 closed

[2017-04-11 04:46] #37 closed

[2017-04-22 22:50] zachnoren opened #41 "TypeError: Cannot read property 'toFixed' of undefined"
When using the MACD function getting this error here is the stack trace

`TypeError: Cannot read property 'toFixed' of undefined
    at format (node_modules/technicalindicators/lib/Utils/NumberFormatter.js:4:24)
    at node_modules/technicalindicators/lib/moving_averages/MACD.js:52:27
    at next (native)
    at MACD.input.values.forEach (node_modules/technicalindicators/lib/moving_averages/MACD.j

[2017-04-23 00:00] anandanand84 commented on #41
can you give me the data you used?

[2017-05-05 04:24] lteacher commented on #6
Any more info on what you mean here... Am curious as have been looking closely at package recently for project.

[2017-05-05 05:51] chiu0602 commented on #6
it is an old issue before the project is converted to typescript, I am not sure whether it is fixed. Please open another issue if it still exist.

[2017-05-05 05:51] #6 closed

[2017-05-16 04:49] albertls opened #42 "error with export"
i am getting this error
(function (exports, require, module, __filename, __dirname) { export { sma, SMA } from './moving_averages/SMA';
                                                              ^^^^^^
SyntaxError: Unexpected token export
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:511:25)
    at Object.Module._extensions..js (module.js:550:10)
    at Module.

[2017-05-16 15:53] anandanand84 commented on #42
Can you give more details on how you are using, are you using some kind of bundler? Here is the working example from tonic dev.

https://runkit.com/anandaravindan/test-techincalindicators-issue-42

[2017-05-16 15:58] albertls commented on #42
running your example a get the same error

root@srv01:~/poloniex-trade-bot# nodejs a.js
/root/poloniex-trade-bot/node_modules/technicalindicators/lib/index.js:1
(function (exports, require, module, __filename, __dirname) { export { sma, SMA } from './moving_averages/SMA';
                                                              ^^^^^^

SyntaxError: Unexpected reserved word
    at exports.runI

[2017-05-16 16:49] anandanand84 commented on #42
Which version of techincalindicators and nodejs are you using?  with latest version the techincalindicators packages should be loaded from dist/browser.js and not from lib/index.js

[2017-05-16 17:23] albertls commented on #42
i am loading like your example
var sma =require('technicalindicators').sma

[2017-05-16 18:33] anandanand84 commented on #42
Can you tell the technicalindicators version in package.json?

[2017-05-16 18:34] albertls commented on #42
root@srv01:~/poloniex-trade-bot/node_modules/technicalindicators# cat package.json
{
  "_args": [
    [
      {
        "raw": "technicalindicators@0.2.x",
        "scope": null,
        "escapedName": "technicalindicators",
        "name": "technicalindicators",
        "rawSpec": "0.2.x",
        "spec": ">=0.2.0 <0.3.0",
        "type": "range"
      },
      "/root/poloniex-trade-bot"
    ]

[2017-05-16 18:40] anandanand84 commented on #42
I think you are using an older version and the problem is with the exact version 0.2.26 can you try with @1.0.0 version or 0.2.25?

[2017-05-16 18:46] albertls commented on #42
how i can obtain those versions?

[2017-05-16 18:49] anandanand84 commented on #42
I have unpublished the version 0.2.26 remove your node_modules directory, edit your package.json to point to 1.0.0 and run npm install

[2017-05-16 18:55] #42 closed

[2017-05-20 14:42] Neabfi opened #43 "MACD strange behavior"
Hello,

I calculate two MACD with the following settings. The first time I just remove the 5 oldest data. Why this affect the most recent MACD ? There is a small difference:
MACD: 7.10857, signal: 7.10857 vs  MACD: 7.10239, signal: 7.10239
Thanks !

[code]

[code]

[2017-05-20 15:49] anandanand84 commented on #43
could not understand your issue? can you post a complete example with data? Is the difference  is at the start or at end? Are you using reversedInput?

[2017-05-20 17:30] Neabfi commented on #43
Here is a simple exemple:

[code]
Output:
[code]

I juste add a 1 at the beginning of macdInput2.values.
Why the last value of result1 and result2 are not the same ?
(I'm not using reversedInput)

[2017-05-23 11:09] dexbg opened #44 "MACD calculation is wrong: should be (slow period - fast period) and not vice versa"
The MACD value is reversed - i.e. the formula is (slow period - fast period) and not vice versa

[2017-05-23 13:55] anandanand84 commented on #44
Just verified it in wikipedia and stockcharts.com both use fast - slow.

https://en.wikipedia.org/wiki/MACD

http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:moving_average_convergence_divergence_macd

[2017-05-23 14:02] anandanand84 commented on #44
@dexbg If you find this correct you can close the issue, else provide me a resource and we can discuss and if it is correct I am happy to change.

[2017-05-23 14:07] anandanand84 commented on #43
@Neabfi This seems to be working as expected. MACD is calculated based on moving average of moving average so if you provide values all the values are utilized for every result and it is not like SMA where only the last value depends only on the last 8 values.

[2017-05-23 15:05] dexbg commented on #44
Sorry, my mistake.

[2017-05-23 15:05] #44 closed

[2017-05-26 13:14] Neabfi commented on #43
Oh yes indeed, my bad, thanks !

[2017-05-26 13:14] #43 closed

[2017-05-27 15:54] devanp92 opened #45 "Request for indicator: VWAP"
Chart + Calculation: http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:vwap_intraday.

I am happy to write this if you'd like.

[2017-05-30 12:23] anandanand84 commented on #45
Can you write and give a pull request, if you need any help, just ping me in hangouts anandanand84, thanks!

[2017-06-18 01:52] roblav96 opened #46 "Rate of Change Drops 0 values"
### Runkit Example
https://runkit.com/roblav96/5945db28f7965000121d9545
Result `[79]` should be a 0 at `April 28, 2017`
https://www.tradingview.com/chart/auBuV2o7/
So it looks like the calc is dropping `0`'s completely.

[2017-06-18 03:31] anandanand84 commented on #46
@roblav96 I couldn't get the issue, the tradingview chart you linked shows only ADX, there is no ROC in there. Did you linked a wrong chart?

[2017-06-18 11:35] karthi3219 opened #47 "Need to help in setup"
Hi, I want to setup the project. I have downloaded the project. Extracted the zip to the folder 'technicalindicators-master'. I ran the  'npm install --save technicalindicators'. It installed the node_modules folder in the root directory. After this I have written the below simple script to check the Bearish Engulfing Pattern.
[code]
But I am getting below error.
[code]
I am very new to the nodejs

[2017-06-18 14:44] anandanand84 commented on #47
This issue is a duplicate of https://github.com/anandanand84/technicalindicators/issues/38

Below are the steps anyways.

Actually, you dont have to extract the zip, Just go to a new folder and follow the steps

1.  `npm init` this creates a new nodejs project.
2. `npm install --save technicalindicators` this installs and saves the technical indicators dependency.

3. Create a new file(index.js) a

[2017-06-18 15:53] eugenioclrc opened #48 "Using the latest data instead the first of the array"
In the logic of the Candlestickfinders you are using the first element of the data, instead the latest, example;
https://github.com/anandanand84/technicalindicators/blob/master/src/candlestick/MorningStar.ts#L10

I think i shoul look something like;
[code]

[2017-06-18 18:07] anandanand84 commented on #48
@eugenioclrc if your inputs is reversed you can use reversedInput:true in the data you pass.

see below.

https://github.com/anandanand84/technicalindicators/blob/master/src/candlestick/CandlestickFinder.ts#L43

[2017-06-18 18:37] eugenioclrc commented on #48
.reverse() is different than use the latest elements of the array

[0,1,2,3,4,5,6].reverse() => [6,5,4,3,2,1,0]

data = [0,1,2,3,4,5,6]
data.slice(data.length - 3) => [4,5,6]

[2017-06-18 20:36] anandanand84 commented on #48
@eugenioclrc
<img width="739" alt="screen shot 2017-06-18 at 3 25 30 pm" src="https://user-images.githubusercontent.com/5538452/27263947-8a4572e6-543a-11e7-83b1-b66d13845f88.png">
<img width="733" alt="screen shot 2017-06-18 at 3 25 39 pm" src="https://user-images.githubusercontent.com/5538452/27263948-931e0360-543a-11e7-9b68-d39d13ba50ca.png">

It looks good to me. Can you elaborate what is the i

[2017-06-19 12:54] #47 closed

[2017-06-19 12:55] anandanand84 commented on #41
@zachnoren Are you still facing this issue?

[2017-06-22 01:32] roblav96 commented on #46
@anandanand84 Sorry late reply :X
Idk how to share the exact view. A bit over complicated UX design. I guess this one's a bust.

[2017-06-28 15:07] #48 closed

[2017-06-29 16:36] vlad-saling opened #49 "[FYI] Node.js and indicators"
Hi,

thank you for this module! It saves quite a lot of time and coding. While implementing it inside an Node.js app I've noticed that this `const SMA = require('technicalindicators').SMA` isn't working. Upon calling SMA it throws "undefined". I looked a bit into the code and it works if I do this:
`const SMA = require('technicalindicators').window.SMA`

Not sure if you want/need to update your do

[2017-06-30 09:38] stylixboom opened #50 "regeneratorRuntime is not defined"
Hi, I used technicalindicators for a while, and it's quite good somehow.
However, I just upgrade to 1.0.4 today and found the issue which is not obvious to me.
Can you please check, thanks!

==============Install=============
$ npm install technicalindicators
test@1.0.0 E:\data\test
`-- technicalindicators@1.0.4
  `-- babel-polyfill@6.23.0
    +-- babel-runtime@6.23.0
    +-- core-js@2.4.1
    `--

[2017-07-02 00:45] anandanand84 commented on #49
you're right. Currently there is an issue, i need to figure out a way to compile for both nodejs and browser

[2017-07-02 01:24] anandanand84 commented on #50
Added better support for nodejs. This is fixed in version 1.0.5. Thanks for pointing out.  Please verify and close. Thanks

[2017-07-02 01:25] anandanand84 commented on #49
Added better support for nodejs. This is fixed in version 1.0.5. Thanks for pointing out.  Please verify

[2017-07-02 09:18] stylixboom commented on #50
I upgraded to 1.0.5 and it works fine right now. Seemed all compatible and no any other issue at the moment. Thank you for fixing this.

[2017-07-02 11:51] vlad-saling commented on #49
Thank you for resolving this so quickly 👍. I've tested latest release and it is now working according docs.

You can close this issue.

[2017-07-02 15:17] #49 closed

[2017-07-05 02:58] aastein commented on #50
Happens for me on 1.0.5. @stylixboom what does your babel / webpack config look like?

[2017-07-05 05:21] stylixboom commented on #50
@aastein webpack and babel/webpack can be another conflict, anyway, I did not use those with technicalindicators lib 1.0.5, only a plain nodejs, express, etc., as tested by the first comment.

[2017-07-05 12:09] anandanand84 commented on #50
@aastein, can you provide your webpack config or simple scenario to reproduce? I'll test.

[2017-07-05 13:04] ramonescamilla opened #51 "PlusDM MinusDM"
How can I add the plusDM and minusDM points added to my adx points?

Thanks,

Ramon

[2017-07-06 18:40] anandanand84 commented on #51
@ramonescamilla I havent added the ADX yet. Will add it soon.

[2017-07-10 08:35] dandv commented on #50
@anandanand84: no webpack config necessary. Just run

    ./node_modules/.bin/webpack src/index.js dist/bundle.js

And in index.js simply have

    const SMA = require('technicalindicators').SMA;

I get the same `Uncaught ReferenceError: regeneratorRuntime is not defined` error with webpack 3.1.0.

[2017-07-10 15:27] anandanand84 commented on #50
Just to clarify this package uses babel to transpile es6 code so if you are using it in browser you should use regeneratorRuntime or use custom transpiler. If you want to use it in node or use a custom bundler like webpack we have module flag in https://github.com/anandanand84/technicalindicators/blob/master/package.json#L7 I am not familiar with webpack I use rollup. I tried your example and it d

[2017-07-13 20:54] kwhitley opened #52 "Bullish vs Bearish indicators not checking Open vs Close"
For instance, `bearishspinningtop` returns true for the following data

[code]

I noticed a couple things in the following code:

[code]

1. it wasn't explicitly checking if open < close (definition of bearish in this case)
2. the shadow calculations were off (comments in code above)

Would you like me to start a PR to go through and fix these?  I'm very interested in getting all these working for

[2017-07-13 21:27] anandanand84 commented on #52
@kwhitley Sure provide a pull request. Make sure you update the test. Let me know if you face any issue setting up the workflow.

[2017-07-14 03:17] kwhitley commented on #52
Will do @anandanand84

As to the work environment, I needed to run the following (OSX) before `npm install` would complete successfully:

[code]

...and to fully install (to run `npm test`)
[code]

These will be included in the README update with the PR if you don't mind!

[2017-07-14 03:52] kwhitley commented on #52
Also, should I be working on the .ts files in `/src` or the .js files in `/lib`?  I don't see a script in the `package.json` to transpile TypeScript into the lib folder (where the tests are being run from), and am generally unfamiliar with TypeScript dev/build processes.

[2017-07-14 04:06] kwhitley commented on #52
Nevermind, read some TS docs and will add that step to the README as well:

[code]

[2017-07-14 04:25] anandanand84 commented on #52
@kwhitley sorry for the late reply. glad you figured that out. I would recommend vscode https://code.visualstudio.com  vscode come with typescript support so you dont have to run the tsc command every time and I missed the draw-candlestick and cairo installation part which are necessary for developement that gives you the image of the test data so it is easy to develop new patterns. It would be he

[2017-07-20 09:39] josephfinlayson opened #53 "Number accuracy"
Using simple numbers in JS can lead to rounding errors. Have you thought about using BigNumber js?

[2017-07-20 12:59] anandanand84 commented on #53
@josephfinlayson I am not sure about where there is rounding errors, can you show me a simple example where it fails, if necessary we can use BigNumberjs

[2017-07-23 02:03] leomar-developer commented on #41
I'm  having this issue too, the data is just too large to be posted here and it comes from a JSON API, I would need to save the result to a text file in order to attach it here, just as a hint at least in my case it seems to be related with datasets with very small values like 0.00000071 and such as I only get this error when using datasets with such very small values.

[2017-07-23 03:31] anandanand84 commented on #41
@leomar-developer what version are you using?

[2017-07-23 03:39] leomar-developer commented on #41
I'm using 1.0.5 @anandanand84

[2017-07-23 04:06] anandanand84 commented on #41
@leomar-developer Thanks I'll take a look.

[2017-07-23 06:00] aastein commented on #50
@anandanand84 confirming your solution works. You a hero.

[2017-07-25 09:14] balupton opened #54 "Renko Chart"
I'm quite a fan of [Renko Charts](https://www.tradingview.com/wiki/Renko_Charts) and been looking for a library that does them. I've found that [react-stockcharts](https://github.com/rrag/react-stockcharts) does [renko](https://github.com/rrag/react-stockcharts/blob/b9518ad87bb29b39d79b5b80ab9c8dc406294c15/src/lib/calculator/renko.js) as well as many others.

What is the feasibility of adding supp

[2017-07-25 21:19] anandanand84 commented on #53
@josephfinlayson I added this in readme, I thought about the BigNumbers and it really is a big change that affects every indicator and every file with a very little benefit. I also added below in the readme.

[code]

If you think otherwise, reopen the issue and we can discuss.

Thanks

[2017-07-25 21:19] #53 closed

[2017-07-26 09:58] oeed commented on #50
I believe this mightn't yet be completely fixed. In stock standard CLI NodeJS (not in a browser or webpack) I'm still getting the same error.

I made [an example project](https://github.com/anandanand84/technicalindicators/files/1176168/Test.zip), which is simply comprised of the following two files.

_package.json_
[code]

_index.js_
[code]

Then running `$ npm install; node index.js` results in

[2017-07-26 14:14] lteacher commented on #50
I too thought this was sorted, then suddenly I got the issue but other machine is ok. Turns out that its back in v1.0.7 whilst v1.0.5 is ok.

[2017-07-26 14:19] stylixboom commented on #50
As people mentioned about this issue again, I think this should be re-investigated, somehow.

[2017-07-26 14:34] anandanand84 commented on #50
for now you can

[code]
and in just before loading techincalindicators use

[code]

We need to discuss if we need to add babel-polyfill inside library.

[2017-07-26 14:40] lteacher commented on #50
I'm using the library in node app though so the polyfill isn't required. I'm not familiar with rollup to suggest some solution but I think since you have already nicely bundled to both `main: index.js` and `browser: browser.js` so you could for sure fix the node side of things but still discuss if you want to include the polyfill or not.

[2017-07-26 14:53] anandanand84 commented on #50
@lteacher It does require polyfill for nodejs version below 6.4. So may be I'll remove polyfill and say above 6.4

[2017-07-26 15:27] anandanand84 commented on #50
Fixed in 1.0.8 to work in nodejs without polyfill

[2017-07-26 15:27] #50 closed

[2017-07-26 15:28] anandanand84 commented on #41
@leomar-developer can you check if you still face this issue with 1.0.8 I believe it is fixed. If it is still there can you send the data you are using it is hard to fix without reproducing

[2017-07-26 15:33] anandanand84 commented on #54
@balupton It can be added, if possible can you provide test cases for renko, with ATR and traditional.

[2017-07-26 21:08] anandanand84 commented on #54
Renko charts added.

[2017-07-26 21:08] #54 closed

[2017-07-26 21:08] anandanand84 commented on #24
Heikin ashi added

[2017-07-26 21:08] #24 closed

[2017-07-26 21:09] anandanand84 commented on #46
@roblav96 This should be fixed. Can you check with latest version?

[2017-07-26 21:09] #46 closed

[2017-07-26 21:10] anandanand84 commented on #51
ADX along with +DI and -DI added see https://github.com/anandanand84/technicalindicators/blob/master/test/directionalmovement/ADX.js

[2017-07-26 21:10] #51 closed

[2017-07-26 21:10] anandanand84 commented on #41
This should be fixed. Reopen otherwise

[2017-07-26 21:10] #41 closed

[2017-07-27 02:53] anandanand84 commented on #23
CCI Added. See https://github.com/anandanand84/technicalindicators/blob/master/test/oscillators/CCI.js

[2017-07-27 02:53] #23 closed

[2017-07-27 18:32] anandanand84 commented on #45
Added.

[2017-07-27 18:32] #45 closed

[2017-07-29 15:45] bwj555555 opened #56 "RSI calculation returns no value"
-- removed --
recreated here -> https://github.com/anandanand84/technicalindicators/issues/57

[2017-07-29 15:50] stylixboom opened #57 "RSI calculation returns no value"
With RSI period of 14, the calculating RSI for the following values return nothing
[ 294435,  294435,  294435,  294500,  294500,  294500,  294520,  294539,  294539,  294600,  294600,  294600,  294600,  294600,  294700 ]

but when I change some value to be
[ 294435,  294435,  294435,  294500,  294500,  **294400**,  294520,  294539,  294539,  294600,  294600,  294600,  294600,  294600,  294700 ]
RSI

[2017-07-29 15:50] #56 closed

[2017-07-29 18:34] anandanand84 commented on #57
@stylixboom It is possibly a bug when the first two numbers are the same. I'll look at it. Thanks

[2017-07-29 23:42] oeed opened #58 "Average Directional Index example dead link on readme"
Not a huge issue really, it's easy to figure out by looking at the source, but the link for the ADX example in the readme appears to be dead.

[2017-07-30 13:34] stylixboom commented on #58
I think, at the moment, you can find an ADX example through the test source here
https://github.com/anandanand84/technicalindicators/blob/master/test/directionalmovement/ADX.js

But yes, the link for ADX in the readme is dead.

[2017-07-30 14:52] anandanand84 commented on #58
Fixed. Linked to the test.

[2017-07-30 14:52] #58 closed

[2017-07-30 20:09] leomar-developer commented on #41
Hi @anandanand84 sorry for being late on getting back to this, I could not test with 1.0.8 as I have been busy with other things on the project I didn't want to change versions just yet, seems the error in my case was on my side as I was already doing a `n.Tofixed` on each data item before sending the whole dataset to the MACD indicator function, after I added a `parseFloat` to my data it started

[2017-07-30 20:30] leomar-developer commented on #41
I think you just need to use an ABS for the denominator here:

`roc = ((tick - pastPeriods.lastShift) / (pastPeriods.lastShift)) * 100;`

so it becomes:

`roc = ((tick - pastPeriods.lastShift) / (Math.abs(pastPeriods.lastShift))) * 100;`

I'm not a math guy so I ignore if the ROC indicator would not work properly by doing that or if this is really a fix for a bug on its calculation.

[2017-07-31 00:55] aastein opened #59 "Standardize return types"
Some indicators return Number arrays and others return object arrays. This lib would be even easier to use if all indicators returned data of the same type.

Would you support a PR which does this?

For example SMA returns a Number array like

I am proposing it return an object array like

[2017-08-01 19:56] balupton opened #61 "indentation rules"
seems there is some inconsistent indentation going on - javascript files in `test` are at 2 space indentation, whereas typescript files in `src` are at 4 space indentation

`src/chart_types/Renko.ts` also has mixed indentation

I'd suggest the following `.editorconfig` file to resolve this:

[code]

VSCode plugin for EditorConfig: https://marketplace.visualstudio.com/items?itemName=EditorConfig.Ed

[2017-08-01 22:54] anandanand84 commented on #61
sure. I'll add it when I commit next, or you can add if you are planning for any pull request.

[2017-08-01 22:57] anandanand84 commented on #61
actually can you add it along with the this pull request https://github.com/anandanand84/technicalindicators/pull/60

[2017-08-01 23:19] balupton commented on #61
done

[2017-08-02 00:09] #61 closed

[2017-08-02 04:26] jaggedsoft opened #62 "Trouble using CCI"
Hi, thanks for this awesome library. You rock!

Having trouble getting CCI working in the latest release `10.0.16`
`const CCI = require('technicalindicators').CCI;`
TypeError: Cannot read property 'calculate' of undefined

`const CCI = require('technicalindicators/lib/oscillators/CCI').CCI;`
(function (exports, require, module, __filename, __dirname) { import { Indicator, IndicatorInput } from '..

[2017-08-02 13:02] anandanand84 commented on #62
Fixed. It was not added in the index. It should work in latest release. use
const CCI = require('technicalindicators').CCI
or
const cci = require('technicalindicators').cci

[2017-08-02 13:02] #62 closed

[2017-08-02 13:32] josephfinlayson commented on #53
e.g:

    var x = 0.1 * 0.2;
    console.log(x) // 0.020000000000000004

[2017-08-04 15:05] cynanrhodes opened #63 "Typescript errors"
I'm coming across the following:

node_modules/technicalindicators/declarations/chart_types/HeikinAshi.d.ts(14,22): error TS2415: Class 'HeikinAshi' incorrectly extends base class 'Indicator'.
  Types of property 'result' are incompatible.
    Type 'CandleList' is not assignable to type 'any[]'.
      Property 'length' is missing in type 'CandleList'.

[2017-08-05 08:17] mingoal commented on #63
same issue with version 1.0.17

[2017-08-05 13:38] cynanrhodes commented on #57
If, when calculating RSI for a given set of prices, every increment gains (or loses), then there is a divide by zero error.

In the above example, when 294500 was changed to 294400 the number of loses went from 0 to 1 and so the division works.

[2017-08-09 13:57] #63 closed

[2017-08-15 01:56] Sneakware opened #64 "[Q] Period unit"
Hi, first off, thanks for this lib!

I'm not really familiar with TA, so pardon if it sounds like dumb questions.
Could you tell me what the unit the period integer refers to? Even after looking at the code and examples I can't really grasp it. Also, the values are the different close values for said period right?

Thanks!

[2017-08-15 02:14] anandanand84 commented on #64
@Sneakware Period is number, For example: for moving average period is the average period. You can look at the examples https://tonicdev.com/anandaravindan/sma

[2017-08-15 02:14] anandanand84 commented on #64
@Sneakware yes values are different close values if you want to take average of close

[2017-08-15 04:05] Sneakware commented on #64
Hum ok, so the period is actually the number of average period you want to construct with the data you are providing? I've tried a few things and still don't get [this result](https://runkit.com/sneakware/59926970dd54dd001212bcb1) though, isn't it supposed to be `[1.5, 2.5, 3.5, 4.5]`? Also with a period of `1`, I would assume the result is the initial input, and not an array filled with 1's, is t

[2017-08-15 12:21] anandanand84 commented on #64
@Sneakware  you are right thats an unhandled case.

[2017-08-15 17:07] #64 closed

[2017-08-22 05:51] jwenzler opened #65 "Dojis seem too loosely defined"
Hello, this is an amazing repo, just something I've noticed.

The following candlestick is coming back as a doji.
<img width="61" alt="screen shot 2017-08-22 at 12 49 17 am" src="https://user-images.githubusercontent.com/7832219/29550553-fedc7eda-86d3-11e7-920d-45a55ffa9f18.png">

I think this is simply because of the approximateEqual function.  I haven't yet worked on a more accurate version, but

[2017-08-22 05:59] jwenzler commented on #65
A quick possibility could be creating a separate function for dojis that considers the extremes (low and high).

[code]
Where we take the whole range for the candlestick and see if the open close diff is less than 5% of the total height.

So in this case something like...
[code]

[2017-08-22 11:56] anandanand84 commented on #65
sure. Can you create a pull request with this change only for doji?

[2017-08-23 20:48] #57 closed

[2017-09-03 14:32] streetgainer opened #69 "Psar not matching up with Tradingview psar"
The psar doesn't match the psar on Tradingview. Could the calculation be missing something?

[2017-09-03 14:48] anandanand84 commented on #69
can you send the values comparing the two?

[2017-09-03 19:29] streetgainer commented on #69
Yes.. below are the last 30 daily bars (H/L) for NFLX and the Tradingview's psar results for each day. What I noticed is that Tradingview charts has an additional setting on their psar indicator called `Start` which is also set to .02 at default, and it's defined [here](https://www.tradingview.com/wiki/Parabolic_SAR_(SAR)) as "_The starting value for the Acceleration Factor_ ". Not sure if that's

[2017-09-07 15:05] lionel95200x opened #70 "Use it with react"
Hello
I can't use this module with react, the SMA value is undefined when i launch the exemple

Can you help me ? Have you solution to use it with react js ?

Thanks

[2017-09-07 15:52] anandanand84 commented on #70
@lionel95200x sure. are you using some kind of module bundler?

Can you check if this helps

https://github.com/anandanand84/technicalindicators/issues/50#issuecomment-314141400

[2017-09-07 16:58] lionel95200x commented on #70
No i have the same error "browser.js:1 Uncaught ReferenceError: regeneratorRuntime is not defined"

I import  this at the top of the file but this not work
require('babel-polyfill')
const SMA = require('technicalindicators').SMA;

Can you help me ?

[2017-09-07 17:36] lionel95200x commented on #70
I solve this using :
const SMA = require('technicalindicators/dist').SMA

[2017-09-07 17:36] #70 closed

[2017-09-12 06:23] JMoli opened #71 "Reversing Inputs"
Love the library! Thanks for all the hard work! I am trying to understand if I should be reversing my Inputs or not, and was hoping to get some clarification on what I should be understanding! Thanks again!

[Stochastic](https://github.com/anandanand84/technicalindicators/blob/02a270e56cad28ffa458ebf8c4d683a9161cb55b/src/momentum/Stochastic.ts#L96
)

    export function stochastic(input:Stochastic

[2017-09-12 12:09] anandanand84 commented on #71
@JMoli You may not need the reversedInput. It is used only when you array contains the latest data first(based on time) and the oldest data last.  You can check this issue for the reason for the second reverse. https://github.com/anandanand84/technicalindicators/issues/16

[2017-09-12 16:14] JMoli commented on #71
#16 furthers the confusion? The code example listed is wrong?

    const technicalindicators = require('technicalindicators');
    const values = [0.001, 0.003, 0.001, 0.003, 0.004, 0.002, 0.003, 0.003, 0.002];
    console.log("before: " + values);
    const smaValues = technicalindicators.SMA.calculate({ reversedInput: true, period: 4, values: values });
    console.log("after: " + values);

Wher

[2017-09-12 16:50] anandanand84 commented on #71
@JMoli, Well you got me confused :) Let me clarify for you.

First of it is not ```reverseInput```. It is ```reversedInput```.  It means the end user input is reversed and the library should calculate the indicators after reversing the input of the user.  Because calculating with the original reversed input will not give correct indicators especially for candlestick the order of the candles is imp

[2017-09-12 17:00] anandanand84 commented on #71
@JMoli use reverseInput if your timestamp is descending, do not if it is ascending.

[2017-09-12 17:04] JMoli commented on #71
I think I get it now, it needs to occur for things that are weighted?

[2017-09-12 17:08] anandanand84 commented on #71
yes, weighted averages will be wrong if we did not reverse before calculating the indicators.

[2017-09-14 19:32] JMoli opened #72 "Stochastic RSI"
Anyone have any success doing this with RSI and Stochastic calculations of this library?

[2017-09-15 02:34] anandanand84 commented on #72
it should be very simple use FixedSizeLinkedList and Stochastic, you can write it yourself. or give me inputs and outputs to validate the test case and I can write that for you.

[2017-09-15 04:35] khuezy opened #73 "Get rid of extra TA library"
commmon/ta.js should be dumped.

npm: technicalindicators has everything we need + more.

Refactor existing code that uses ta.js.

[2017-09-15 04:36] #73 closed

[2017-09-17 12:17] #71 closed

[2017-09-17 12:17] #59 closed

[2017-09-18 10:38] sedhuait opened #75 "Feature Request : Candle Stick Pattern Hammer Identification"
For Both Bullish and Bearish Hammer.

[2017-09-18 18:58] rahmansayed opened #76 "Bullish and Bearish"
For Bullish and Bearish, they check against different indicators, some accept two candles, some accept three candles, if the user provided three candles to utilize all the indicators, for indicators that utilize two candles only they should use the last two candles not the first two

[2017-09-18 19:08] anandanand84 commented on #76
@rahmansayed I believe it always uses the last two candles for indicators which requires only two candles, can you provide an example where it didn't?

[2017-09-18 19:14] rahmansayed commented on #76
for example in BullishHarami (a two candles only indicator), the code states
let firstdaysOpen   = data.open[0];
        let firstdaysClose  = data.close[0];
        let firstdaysHigh   = data.high[0];
        let firstdaysLow    = data.low[0]
        let seconddaysOpen  = data.open[1];
        let seconddaysClose = data.close[1];
        let seconddaysHigh  = data.high[1];
        let seconddaysL

[2017-09-18 19:22] anandanand84 commented on #76
@rahmansayed Can you check https://github.com/anandanand84/technicalindicators/issues/48 and see if that makes sense. You can take a look at the exact code which generates the required data at  https://github.com/anandanand84/technicalindicators/blob/master/src/candlestick/CandlestickFinder.ts#L54. If you still feel there is an issue, can you draw the candlestick using draw-candlestick finder as I

[2017-09-18 19:42] rahmansayed commented on #76
Ok, fine, perfectly clear, thanks for the support

[2017-09-18 19:42] #76 closed

[2017-09-21 13:51] 3Ue opened #77 "ADL division by zero"
In ADL.ts there is a possible division by zero if tick.high and tick.low are the same. That results in every result value afterwards being NaN.

https://github.com/anandanand84/technicalindicators/blob/02a270e56cad28ffa458ebf8c4d683a9161cb55b/src/volume/ADL.ts#L35

[2017-09-22 21:21] bfischer1121 commented on #72
Hi @anandanand84 what's FixedSizeLinkedList?

[2017-09-22 23:29] anandanand84 commented on #72
@bfischer1121 It is a data structure to be used. See https://github.com/anandanand84/technicalindicators/blob/master/src/momentum/Stochastic.ts#L7.

You can copy the stochastic implementation from here and replace to use RSI inplace of

[code]

to

[code]
To calculate RSI use this example

https://github.com/anandanand84/technicalindicators/blob/master/src/momentum/TRIX.ts#L24

[2017-09-27 20:47] GoChartingAdmin commented on #65
I have been an R guy all along and picked up JS recently.  I have used the candleStick Pattern package built in R by R-Forge.  Please see the JS equivalent of their implementation of Doji

**DOJI:**
[code]

**GRAVESTONE DOJI:**
[code]

**DRAGONFLYDOJI:**
[code]

[2017-10-01 10:51] sedhuait opened #78 "Feature Request :: Super Trend Indicator"

[2017-10-23 17:35] JMoli commented on #72
Is there a reason why the output from RSI run through stochastic does not work? Other than the first RSI value being zero?  Stochatic + RSI = Stochastic RSI? My results seem to be off.

[2017-11-17 20:46] aastein opened #79 "Nesting indicators into window object is incompatible with previous versions."
package.json
[code]

code example based on my usage from a previous version of this (super cool) library.
[code]

I think this is due to versioning semantics. It seems version 1.0.21 is getting installed but version 1.0.3 is the last compatible version with the code example.

[code]

[code]

[2017-11-19 04:47] anandanand84 commented on #79
@aastein I am not sure what is being asked, can you elaborate more?

[2017-11-19 04:52] aastein commented on #79
Your versioning syntax is not compatible with NPM SemVer. This causes incompatible versions to be downloaded via npm cli.

[2017-11-19 13:26] anandanand84 commented on #79
@aastein it may be a bug in that version, what is the actual bug?

[2017-11-22 16:10] Dinfyru opened #80 "Add support for small or big num"
I have trouble with small numbers (js trouble).

Example (big.js https://github.com/MikeMcl/big.js/):
`Big(0.04421502399999999).minus(0.04421495);`

[2017-11-22 16:48] anandanand84 commented on #80
can you show me an example of your issue?

Also take a look at this https://github.com/anandanand84/technicalindicators/commit/e796d107280abab6aafd4a2af8609403c72c076f, you can set your own precision
[code]

[2017-11-23 11:38] Dinfyru commented on #80
`toPrecision` only round number. This introduces discrepancies to the calculations.
example
[code]

[2017-11-23 13:28] anandanand84 commented on #80
Technical indicators doesn't involve any calculation of money and using bignumber has significant performance issues which outweigh any benefits.

see https://github.com/anandanand84/technicalindicators/issues/53

[2017-11-23 15:41] Dinfyru commented on #80
@anandanand84 you can do tests. Big js do it very fast.
https://github.com/MikeMcl/big.js/#performance

[2017-11-23 15:42] Dinfyru commented on #80
[code]
I do it on very low performance pc

[2017-11-23 15:54] anandanand84 commented on #80
@Dinfyru, I mean compared to the performance of native it will be significantly slower and it requires a major rewrite, On the next major rewrite I am planning to use web assembly or convert talib to work in webbrowser using webassembly. so doing conversion from big or bigdecimal doesnt make effective use of time.

I do use bigdecimal.js in https://traderslab.in for some calcualtion and it is pret

[2017-11-23 16:09] Dinfyru commented on #80
Big.js was 3 times faster then bigdecimal.js

[2017-12-08 17:46] heekah7 commented on #44
dexbg, I cannot thank you enough for the amazing library. Unfortunately, anandanand84 is right, when I compare the generated MACD is different from Yahoo financial. Maybe they're wrong but it worths investigating.

[2017-12-08 18:31] anandanand84 commented on #44
@heekah7 can you send me a screenshot of the difference, did you look at cryptocurrency or other?
Can you check if yahoo finance is different from https://cryptotrading-hub.com if it is cryptocurrency, cryptotrading hub uses this library

[2017-12-08 18:39] anandanand84 commented on #44
I just verified against trading view it seems to be correct, can you verify again if the parameters are the same with both yahoo and the library

![screen shot 2017-12-08 at 12 36 37 pm](https://user-images.githubusercontent.com/5538452/33780029-d533ef00-dc14-11e7-967b-c1aece3e03e7.png)
![screen shot 2017-12-08 at 12 36 27 pm](https://user-images.githubusercontent.com/5538452/33780033-d917fb84-dc1

[2017-12-08 19:03] heekah7 opened #81 "Chart pattern"
Any chance that we can add the like of Double bottom, Rising wedge, Double top, Head and shoulder, ... ?

[2017-12-11 15:27] anandanand84 commented on #81
This library is intended to work in browser, to add chart pattern recognition it requires deep learning, I did try out few implementations but did not workout, I do have a working model in tensorflow but that would not work in browser. I'll wait till https://github.com/PAIR-code/deeplearnjs/issues/33 is fixed so we can add it to the browser.

[2017-12-12 15:30] heekah7 commented on #81
Awesome! And you're awesome!

[2017-12-16 22:08] flesler opened #83 "Some indicators change based on # of values even above `period`"
For example:, calling RSI with `period 14`. These are the outputs based on the inputs:
[code]
[code]

As you can see, the 2nd call has one more value at the beginning. As I understand it, in both cases the input has enough values to satisfy the period (`14`). Is RSI special in that it's relative or sth and it changes based on more values than `period`? If so, How can you ensure it matches consiste

[2017-12-17 01:00] anandanand84 commented on #83
I did look at trading view vs this library (http://cryptotrading-hub), both seems to be match exact, see the attached image from both.

I havent looked at the logic for the RSI but it may be similar to this issue. https://github.com/anandanand84/technicalindicators/issues/43

<img width="1469" alt="screen shot 2017-12-16 at 6 56 20 pm" src="https://user-images.githubusercontent.com/5538452/3407568

[2017-12-17 01:16] flesler commented on #83
For the MACD I am keeping at least slowPeriod+FastPeriod so it's not the same issue as that other one

[2017-12-17 01:20] flesler commented on #83
http://cryptotrading-hub.com uses this library for its indicators?

[2017-12-17 02:11] anandanand84 commented on #83
@flesler yes

[2017-12-18 02:37] rclai opened #84 "Add MFI indicator"
This is an awesome library. Are you able to add the MFI indicator?
https://www.investopedia.com/ask/answers/121214/what-are-main-differences-and-similarities-between-money-flow-index-mfi-relative-strength-index-rsi.asp

[2017-12-18 04:02] anandanand84 commented on #84
@rclai sure I'll add it

[2018-01-02 18:14] kappys1 commented on #72
can you implement in next release?

[2018-01-03 08:32] heekah7 commented on #81
Hi Ananda, I think that would be a solution to your issue.
https://medium.com/@muehler.v/node-js-meets-opencvs-deep-neural-networks-fun-with-tensorflow-and-caffe-ff8d52a0f072

[2018-01-03 18:36] epicallan opened #86 "Appreciation"
Hi, I am just here to say thank you for a wonderful helpful library.

cheers.

 :clap: :clap: :clap:  :thumbsup:

[2018-01-04 18:19] MaxSvargal commented on #72
+1
Yes, we can calculate it from another indicators, but stoch rsi is most usable thing. I think it must be out of the box.

[2018-01-04 18:35] bfischer1121 commented on #72
FWIW here's code to calculate Stoch RSI:
`
  const ti = require('technicalindicators');

  getStochRsi() // { k: [...], d: [...] }

  getStochRsi({ timePeriod=14, kPeriod=3, dPeriod=3 } = {}){
    let closes = [1, 2, 3, 4];

    return this.getRsi({ timePeriod }).then(rsi => {
      let fastK = [],
          prev, min, max;

      for(let i = timePeriod; i < rsi.length; i++){
        prev = rsi.sl

[2018-01-07 09:45] MaxSvargal commented on #72
@bfischer1121 Can you make a PR, please?

[2018-01-11 17:35] paroxysm opened #88 "VWAP.ts incorrectly declares that VWAPInput.volume is type 'number' instead of 'number[]'"
This seems to be a typo, the input is expecting a 'number' for this input, however  the code accesses volume as an array.

[2018-01-11 18:11] paroxysm opened #89 "VWAP.ts 'period' parameter is ignored"
VWAPInput takes a 'period' parameter, however in the actual code for calculation, it's never used. The correct behavior would be to assert that the length of the lows/highs/closes arrays should at least equal to 'period'.
Then iterating over the lows to calculate the vwap, the algorithm should consider AT MOST 'period' values. Right now it considers all the values passed(even if their length > per

[2018-01-11 18:19] anandanand84 commented on #89
@paroxysm I think the indicator is working as expected. I should the remove the period parameter in the input.

[2018-01-11 18:19] anandanand84 commented on #88
@paroxysm Thanks. I'll correct the typo

[2018-01-11 18:22] paroxysm commented on #89
Yes because it's misleading, that means it's up to the user to limit the number of inputs to 'period' rather than expecting the algorithm to. But this is inconsistent  with other indicators such as RSI which DO limit calculations to 'period' values.

[2018-01-13 16:07] viviangb commented on #72
I would sooo love a PR please!

[2018-01-14 11:04] kappys1 commented on #72
What indicator is PR?

[2018-01-14 11:49] viviangb commented on #72
@kappys1 sorry, a PR is a pull request. It's a way to add functionality to code.

[2018-01-14 14:11] kappys1 commented on #72
I do not know the acronyms yet haha

[2018-01-22 16:07] ahmeti opened #91 "Feature Request: MACD Dema Indicator"
Hi @anandanand84,

I working on MACD Dema indicator for nodejs. I looked your indicators but i can not find a way.

Can you help me for that indicator?

Sample MACD Dema: [https://www.tradingview.com/chart/ElJTaVfF/](https://www.tradingview.com/chart/ElJTaVfF/)

Tradingview Codes:
[code]

[2018-01-22 20:30] anandanand84 commented on #81
@heekah7 Added preliminary pattern detection

[2018-01-22 20:30] #81 closed

[2018-01-22 22:55] ahmeti commented on #91
I really do not know how to thank you. it really was a great surprise for me.

It works really well <3 (just missing two return in map functions)

It is very nice to know that helpful people still exists.

Thank you again, Sir @anandanand84

[2018-01-22 22:58] #91 closed

[2018-01-22 23:08] anandanand84 commented on #91
Thank you!. Updated return in map functions.

[2018-01-24 10:38] windware opened #92 "v1.1.0 lacks keras-js dependency in package.json"
It errors with,

[2018-01-24 13:19] anandanand84 commented on #92
Just published v1.1.1 Thanks for reporting. Let me know if it works.

[2018-01-24 13:48] windware commented on #92
It works. Thanks.

[2018-01-24 13:48] #92 closed

[2018-01-26 10:36] davidstoneham opened #93 "node_modules/technicalindicators/declarations/oscillators/CCI.d.ts(1,28): Cannot find module '../../src/StockData'"
looks like the StockData is in the same declarations folder and not back in src

[2018-01-26 13:10] anandanand84 commented on #93
@davidstoneham  what version of typescript are you using?

[2018-01-27 14:43] napindc opened #94 "Unexpected identifier async _initialize()"
I'm getting the below error when using 1.1.1 of this package. Is there anyway to fix this?

[code]

[2018-01-27 14:52] anandanand84 commented on #94
@napindc what version of nodejs are you using?

[2018-01-27 14:54] napindc commented on #94
I'm using 8.9.3

[2018-01-27 15:05] anandanand84 commented on #94
@napindc I tried with 8.9.3 it works fine, can you check again the verison of technical indicators and nodejs, below is the list of commands I used, Is there a different way to reproduce.

![image](https://user-images.githubusercontent.com/5538452/35473129-0dddfb2c-0341-11e8-98ee-c2d4148aa327.png)

[2018-01-27 15:08] anandanand84 commented on #94
Its most likely a nodejs version issue, just check the firebase environment.

[2018-01-27 18:04] jsappme commented on #44
I am not able to get the same MACD between binance and this MACD value. Is this formula right?

[2018-01-27 19:17] anandanand84 commented on #44
It uses the formula from http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:moving_average_convergence_divergence_macd and it has test cases from stock charts if it has one. If you see an issue in the code, I am happy to change it.

[2018-01-27 19:24] anandanand84 commented on #44
Can you send your calculation, I see it is the same with binance and this library?
![image](https://user-images.githubusercontent.com/5538452/35475503-3c9fe0dc-0365-11e8-9d99-51b407a030e5.png)

[2018-01-27 19:27] anandanand84 commented on #44
@jsappme @jaggedsoft https://cryptotrading-hub.com uses the technical indicators from this library and it seems to match with binance. Can you compare the two charts you may be comparing the wrong parameters.

[2018-01-27 19:32] jaggedsoft commented on #44
@anandanand84 I couldn't say for sure, seems to work great. I love this library, thanks for sharing.

[2018-01-27 19:43] anandanand84 commented on #44
@jsappme I did go through the code again since there were lot of people reporting this, I did find out an issue. By default it uses simple moving average that is where people get confused.

try below
[code]
Feel free to reopen the issue if you find a mismatch after using simple ma as false.

[2018-01-27 21:09] anandanand84 commented on #44
You can also use ```reversedInput```

[code]

[2018-01-29 21:54] trainerbill opened #95 "Export CandleData and CandleList"
https://github.com/anandanand84/technicalindicators/blob/master/src/index.ts

[code]

Will save me from having to redefine them.  Awesome lib btw!

[2018-01-29 21:58] fredmarques commented on #94
Firebase uses 6.11.5.
I'm using node 9.4 and works perfectly, but on Firebase I got the same issue.

[2018-01-29 23:08] anandanand84 commented on #94
@napindc @fredmarques ok can you check if following node < 6.4 in readme helps, basically it uses transpiled es6 version.

[code]

[code]

[2018-01-29 23:09] anandanand84 commented on #95
sure I'll add it at next release.

[2018-01-29 23:48] fredmarques commented on #94
@anandanand84  I read that on README before but didn't helped. The problem seems to be Keras-js dependecy as you can read on the error stack trace:

As a workaround I did a `npm install --save-exact technicalindicators@1.0.19` to use v1.0.19 which dosen't have Keras-js as dependency and the error is gone.

[2018-01-30 00:11] napindc commented on #94
Genius... I just downgraded and it works for me as well. Thanks!

[2018-01-30 01:14] #94 closed

[2018-01-30 15:55] windware opened #96 "'period' value in typing definition seems redundant for MACDInput"
I'm using MACD.calculate method and when I supply these values,
- values
- fastPeriod
- slowPeriod
- signalPeriod
- SimpleMAOscillator
- SimpleMASignal

TypeScript complains that I'm missing 'period' which is in fact not used in the calculation but is being mandated in the typing definition.

Currently, I just pass 'period' as null to avoid the error.

[2018-01-30 16:05] anandanand84 commented on #96
Thanks for reporting. I will fix that in the next release.

[2018-01-31 01:26] mnali825 opened #97 "unexpected identifier in keras-js model"
/Users/mirali/Desktop/webapps/crypto-scripts/trading-bot/node_modules/keras-js/lib/Model.js:107
  async _initialize() {
        ^^^^^^^^^^^
SyntaxError: Unexpected identifier
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:528:28)
    at Object.Module._extensions..js (module.js:565:10)
    at Module.load (module.js:473:32)
    at tryModuleLoad (module.js:432:

[2018-01-31 17:54] pereless360 opened #98 "KerasJS is not defined"
Hi pretty straight forward install but when I run my app (I tried both in Ionic and React Native) I get the same issue:

*This was the Error log in Ionic* but really hope to have it installed in React Native... Thanks!

Error: Uncaught (in promise): ReferenceError: KerasJS is not defined
ReferenceError: KerasJS is not defined
    at Object.<anonymous> (http://localhost:8100/build/vendor.js:119289:

[2018-01-31 18:12] anandanand84 commented on #98
You need keras-js for pattern detection.

https://github.com/transcranial/keras-js

[2018-01-31 18:22] pereless360 commented on #98
It did install the Keras-js dependency and I even checked it was there in my node_modules... I also installed it via NPM to make sure too but still showing that error... Any idea for a fix?

[2018-01-31 19:25] anandanand84 commented on #98
make sure kerasjs is loaded before the technicalindicators library

[2018-02-01 02:43] pereless360 commented on #98
I managed to get it to load correctly and now the only issue within React Native that is this error regarding Node Standard Library.. Which appears to be a KerasJS error. I'll post this issue there but wanted to share it with you because this would be killer to work in RN. Thanks for your help.

The package at "...\\node_modules\\keras-js\\lib\\Model.js" attempted to import the Node standard libra

[2018-02-01 03:00] pereless360 commented on #98
Okay I'll give that a try. Would I still be able to use Bullish & Bearish indicators? Thanks!

[2018-02-01 03:03] anandanand84 commented on #98
yes you will still be able to use bearish and bullish but not head and shoulders, double bottom and so on.

[2018-02-01 11:32] redstrike commented on #93
@anandanand84 I have the same problem after updated to **technicalindicators v1.1.1** & **TypeScript v2.7.1**

After checking the lib directory, I see **no /src/ folder in /declarations/**. Also, the correct import path for [this line of code](https://github.com/anandanand84/technicalindicators/blob/4cac000adc435c07c19ac69bda0e3c7c71c25c01/declarations/oscillators/CCI.d.ts#L1) is:
[code]

[2018-02-04 13:55] anandanand84 commented on #80
No plan to implement this. Closing. Thanks

[2018-02-04 13:55] #80 closed

[2018-02-04 16:47] heekah7 opened #100 "Trendline"
Btw any chance that a trend line can be computed algorithmically?

[2018-02-04 18:12] anandanand84 commented on #100
@heekah7 I am working on it.

[2018-02-04 18:28] pereless360 commented on #98
i switched to React web so i can use Keras JS and now it is telling me when I call `const bullish = require('technicalindicators').bullish;` in my constructor that it is an undefined function? Any thoughts? Thanks!

[2018-02-04 18:34] anandanand84 commented on #98
It seems there is some problem with the build configuration when using react, did you try using vanilla javascript,  It is very difficult for me help unless you create a simple minimalist project which shows the error which I can debug to help you.

[2018-02-04 20:04] pereless360 commented on #98
Haven't tried Vanilla JS, I understand so I created this demo that emulates my problem with whats happening. Thank you very much for your help!

https://github.com/pereless360/CoinIndicators

[2018-02-05 09:35] dawadam commented on #98
Hi,
Same problem with Vue JS (Vue-CLI & webpack template).
Just when importing technicalindicators.

`import technicalindicators from 'technicalindicators'`

[2018-02-06 18:18] anandanand84 commented on #96
Fixed in 1.1.3

[2018-02-06 18:18] #96 closed

[2018-02-06 18:18] anandanand84 commented on #95
Fixed in 1.1.3

[2018-02-06 18:18] #95 closed

[2018-02-06 18:19] anandanand84 commented on #93
Fixed in 1.1.3

[2018-02-06 18:19] #93 closed

[2018-02-06 21:42] pereless360 commented on #98
Were you able to take a look at this to see why the indictaor functions were returning as undefined? https://github.com/pereless360/CoinIndicators ... Many Thanks

[2018-02-07 05:41] anandanand84 commented on #98
I did look at it a little bit but could not figure out, I would suggest to just to use vanilla javscript by adding the following to the index.html

[code]

May be if I get time I'll add those to your repo tomorrow.

[2018-02-07 11:35] whittlem opened #101 "GET http://model.bin/ net::ERR_NAME_NOT_RESOLVED"
It has been a struggle to get even a basic implementation of technicalindicators working in React. At least I have something working now but still getting errors.

I created a React app using create-react-app. I then added all the packages from the technicalindicators package.json file.

My package.json looks like this:

{
  "name": "react-technicalindicators",
  "version": "0.1.0",
  "private": t

[2018-02-07 13:14] anandanand84 commented on #101
When running in browser the file model.bin present in dist/model.bin in the respository should be accessible on your server at the location at /dist/model.bin. The model is trained using 400 count of values, so try to provide values close to 400 for a reliable prediction.

Check readme for more info.

[2018-02-07 18:28] whittlem commented on #101
The file is currently located here:

$ find . -name "model.bin"
./node_modules/technicalindicators/dist/model.bin

Do you mean I should move it to ./dist? or ./public/dist?

Does the server need to write to the file or just read from it?

[2018-02-07 18:53] anandanand84 commented on #101
yes you are right the it will be looking for file at that location, move the file from ./node_modules/technicalindicators/dist/model.bin to location which corresponds to your /dist/model.bin location in your server

[2018-02-08 01:28] pereless360 commented on #98
I think I got it working! Minus a few errors in the console, I am able to run it now and test successfully with your examples... However does this work with historical decimal numbers under 1.0 (for ex: .0000323)? I am trying to run this cryptocurrency prices in BTC value and am getting odd results. Maybe there is a specific period for each indicator? Some clarity would be appreciated. Thanks!

[2018-02-08 05:55] anandanand84 commented on #98
yes it should work with lower values.

[2018-02-08 09:12] whittlem commented on #101
So I copied model.bin into ./public/dist.

It is still giving this error in the browser console:
GET http://model.bin/ net::ERR_NAME_NOT_RESOLVED keras.min.js:1

To prove the file is actually in the place you requested I confirmed it with wget:

$ wget http://localhost:3000/dist/model.bin
--2018-02-08 09:09:09--  http://localhost:3000/dist/model.bin
Connecting to localhost (localhost)|127.0.0.1|:3

[2018-02-08 16:10] anandanand84 commented on #101
I am not a webpack expert and I am really not sure how create-react-app works internally, here is an simple video that demonstrate the basic working.

https://youtu.be/-q9ITNjlsHE

The only reason I can think of is it messes up the environment so it uses the node path to load the model which you can see from the below code.

[code]
I am open to making changes if you have any suggestions. Thanks

[2018-02-09 04:19] LoveMeWithoutAll opened #102 "On Node.js v6.11, NPM install didn't work"
On Node.js v6.11, NPM install didn't work.
Of course, on Node.js v8.9.4(current LTS  version) it works.

[2018-02-09 04:20] anandanand84 commented on #102
what is the error you are getting?

[2018-02-09 09:36] LoveMeWithoutAll commented on #102
Follow error msg

[code]

It occured both Windows7 and Ubuntu Linux.
You can see on [c9 link(ubuntu)](https://ide.c9.io/youngsun/npm-test) at node.js V6.11.2

[2018-02-09 10:07] whittlem commented on #101
To make this easier I created a git repo:
https://github.com/whittlem/react-technicalindicators

If you run the following:

* git clone https://github.com/whittlem/react-technicalindicators
* npm install
* npm run start

And open the browser console you'll see what I'm seeing.

[2018-02-09 14:41] anandanand84 commented on #94
Upstream issue for node < 6.4 https://github.com/transcranial/keras-js/issues/103

[2018-02-09 16:01] anandanand84 commented on #101
I looked into the project. There is multiple issues here
1.  Technical indicators has full module support. Your app (in this case react-starter-app) should use technicalindicators main, module or jsnext:main key in package.json to load the required classes in case if it wants to build on its own. But it is looking for browser key which is a built version for browsers with all classes on window obj

[2018-02-09 16:07] whittlem commented on #101
Thanks.

I created the React starter app just to give me a simple base to test this. I am not sure what you mean regarding your first point. What should the package.json look like? I thought I had included the main technicalindicators package?

  "dependencies": {
    "@types/node": "^6.0.96",
    "babel-polyfill": "^6.23.0",
    "keras-js": "^1.0.2",
    "babel-preset-env": "^1.6.1",
    "browser

[2018-02-09 16:53] anandanand84 commented on #101
I do not use webpack or react so I could not really help here. With whatever knowledge I have, For the first,  if you have a webpack project, you need to add in your webpack config.
[code]

For the second point I do not have a control over the other library other than to create a issue, that is why I havent included Kerasjs along with the package, you should still be able to use the library withou

[2018-02-11 05:48] levithomason commented on #98
@pereless360 See the KerasJS docs for a little more help:
- `fs` error, see the [KerasJS Webpack](https://transcranial.github.io/keras-js-docs/setup/webpack/) docs
- suggested script is `<script src="https://unpkg.com/keras-js"></script>`, see the [KerasJS Browser](https://transcranial.github.io/keras-js-docs/setup/browser/) docs.  Right now, you're loading a potentially unreleased version from th

[2018-02-11 06:08] levithomason commented on #101
Putting the `mode.bin` at `/dist/model.bin` also does not solve it for me.  FWIW, the second error regarding the model not having any layers is also present in the Playground demo:

http://anandanand84.github.io/technicalindicators/

It also does not work.

[2018-02-12 16:08] theversal commented on #72
bfischer1121 it says me
getStochRsi({ timePeriod=14, kPeriod=3, dPeriod=3 } = {}){
                                                         ^

SyntaxError: Unexpected token {

[2018-02-12 16:27] theversal commented on #72
it says me
TypeError: this.getRsi is not a function
what i am doing  wrong?

[2018-02-12 19:51] anandanand84 commented on #102
Caused by https://github.com/transcranial/keras-js/issues/103

[2018-02-13 00:46] LoveMeWithoutAll commented on #102
It works well. Thanks a lot!

[2018-02-13 00:46] #102 closed

[2018-02-13 16:11] whittlem commented on #101
Do you have a version that doesn't have the pattern detection included? I have not been able to get your package to work with KerasJS.

[2018-02-13 16:12] anandanand84 commented on #101
try ```npm install --save-exact technicalindicators@1.0.19```

[2018-02-13 21:22] anandanand84 commented on #101
@levithomason The playground still loads the model from /dist/model.bin but due to some issue with github pages it is not found.

[2018-02-13 21:28] anandanand84 commented on #98
@levithomason Could not build KerasJS along with this library due to this reason.
https://github.com/transcranial/keras-js/issues/109
I appreciate any suggestions you have in improving and including along with the build.

[2018-02-13 21:29] levithomason commented on #101
Would you be open to help setting up Webpack and separate build targets for CommonJS modules, ES modules, and UMD modules?  Each of these have slightly different requirements.

The goal would be to install only `technicalindicators` and use any of the module targets with no additional installation or configuration required.  The `model.bin` would fall outside this requirement or need some more thi

[2018-02-13 21:39] anandanand84 commented on #101
@levithomason I am not sure if you saw my other https://github.com/anandanand84/technicalindicators/issues/98#issuecomment-365410059 . Currently we have builds for node, es6 and es5 seperately the only problem is with babel-polyfill that was added with kerasjs. If you think that is not a problem with webpack and cannot be solved by rollup, I am open for change and ready for pull request.

[2018-02-13 22:26] anandanand84 commented on #89
Fixed

[2018-02-13 22:26] #89 closed

[2018-02-13 22:27] anandanand84 commented on #88
Fixed

[2018-02-13 22:27] #88 closed

[2018-02-13 22:27] anandanand84 commented on #86
Thankyou

[2018-02-14 02:16] ProgrammingLife opened #104 "AbandonedBaby.hasPattern is not a function"
I try to run this code:
[code]
Unfortunately but it gives me an error: **AbandonedBaby.hasPattern is not a function**.
What do I do wrong here?

node.js v9.4.0
MacOS 10.12

[2018-02-14 02:17] anandanand84 commented on #104
@ProgrammingLife I'll take a look

[2018-02-14 02:21] anandanand84 commented on #104
My bad I haven't updated the examples after few changes,

try this

[code]

https://runkit.com/anandaravindan/abandoned-baby

[2018-02-14 04:46] anandanand84 commented on #101
keras js is included in technicalindicators@1.1.4 and should load model.bin from dist

[2018-02-14 04:46] #101 closed

[2018-02-14 04:46] anandanand84 commented on #104
@ProgrammingLife reopen if not working.

[2018-02-14 04:46] #104 closed

[2018-02-14 04:47] anandanand84 commented on #98
Kerasjs is added to the library in technicalindicators@1.1.4.

[2018-02-14 04:47] #98 closed

[2018-02-14 17:38] anandanand84 commented on #79
use
[code]

[2018-02-14 17:38] #79 closed

[2018-02-14 23:10] levithomason commented on #101
Got it.  I've commented on the keras=js issue as well.

[2018-02-14 23:12] anandanand84 commented on #101
I have added a hack to remove the polyfill, so it should work now with kerasjs in the latest version.

[2018-02-14 23:46] whittlem commented on #101
Which version are you referring too?

I tried:
"technicalindicators": "^1.1.4"

And still getting:
Uncaught Error: only one instance of @babel/polyfill is allowed

[2018-02-14 23:50] whittlem commented on #101
And my keras-js version is:
"keras-js": "^1.0.3",

[2018-02-15 00:32] anandanand84 commented on #101
can you try this repo and let me know?

https://github.com/anandanand84/react-technicalindicators

[2018-02-16 11:09] gemmell opened #106 "publish more types"
I'm using your library from typescript, I've installed it via npm and by default I can use quite a few definitions. But a lot of the inputs and outputs are not declared in index.d.ts - so for example `const out: TI.MACDOutput = this.macd.getResult();` doesn't work because `node_modules/technicalindicators/declarations/index.d.ts has no exported member MACDOutput

It would be nice if they were decl

[2018-02-16 13:06] anandanand84 commented on #106
@gemmell I'll add the missing types in the next release

[2018-02-21 17:17] ourarash opened #107 "Problem in ionic3"
I am using this in ionic 2. Here is my code:

`import { SMA } from "technicalindicators";
let r = SMA.calculate({ period: p, values: this.y });
`

`TypeError: t.resolve is not a function
    at Object.setNativePromise (http://localhost:8100/build/polyfills.js:3:18280)
    at L.configurable.L.set (http://localhost:8100/build/polyfills.js:3:23002)
    at module.exports (http://localhost:8100/build/v

[2018-02-21 17:20] anandanand84 commented on #107
@ourarash not sure how I can help, Looks like you are using webpack, did you try this from the readme in your webpack config.

[code]

[2018-02-21 17:26] ourarash commented on #107
Yes ionic uses webpack. That  didn't seem to work. Thanks for the answer though.

[2018-02-21 17:38] anandanand84 commented on #107
@ourarash can you create a simple app which I can test, you can see if https://github.com/anandanand84/react-technicalindicators helps

[2018-02-22 01:42] seekerquoc opened #108 "Error when install with Browser"
Hello,
I like this project and i try with browser but its not working.
Can you help me?

![image](https://user-images.githubusercontent.com/5293252/36515490-3d3954f0-17ac-11e8-8d1c-b4f125b28e50.png)

Thanks

[2018-02-22 04:13] anandanand84 commented on #108
@seekerquoc When running in browser the file model.bin present in dist/model.bin in the respository should be accessible on your server at the location at /dist/model.bin. But if you are trying to detect just candlestick that error is not an issue.

[2018-02-22 05:02] seekerquoc commented on #108
Thank you for your reply. I tried with server but it still not working

![image](https://user-images.githubusercontent.com/5293252/36521230-4c199edc-17c8-11e8-93fa-f2d2cfd30ebf.png)

Thanks

[2018-02-23 07:52] ourarash opened #109 "Incorrect result for stochastic"
I tried this data (sorry if it's too long):

[runkit link](https://runkit.com/ourarash/stochastic
)

But the result seems incorrect. `d` remains undefined.

[2018-02-25 17:03] shaosh opened #110 "Cannot find module ".""
Hi @anandanand84 ,

Thank you so much for developing this amazing set of tools, which I've been looking for for a while.

When I use this package without webpack, everything is good. However when I pack my code with webpack, it starts complaining

`return /*require.resolve*/(!(function webpackMissingModule() { var e = new Error("Cannot find module \".\""); e.code = 'MODULE_NOT_FOUND'; throw e; }()

[2018-02-25 18:42] anandanand84 commented on #110
@shaosh I haven't encountered this error and the error doesn't say much. I can take a look if you create a minimal github project reproducing the error.

Thanks

[2018-02-25 22:13] flesler opened #111 "Indicator Idea: FisherTransform"
I find it very accurate and responsive.

Here’s the description and formula, just like the macd it also has a signal

https://www.investopedia.com/terms/f/fisher-transform.asp

[2018-03-06 02:20] shaosh commented on #110
@anandanand84 Could you take a look at the error and code I pasted above? It seems to be related with the patterndetection.js.

[2018-03-06 13:22] flesler opened #112 "Is it possible to achieve a Stochastic RSI from RSI+Stochastics"
RSI has one output value and Stochastics expects 3, possible?

[2018-03-06 15:06] anandanand84 commented on #110
@shaosh Is there a sample project which I can look into, its hard to debug without reproducing the issue.

[2018-03-06 15:11] anandanand84 commented on #112
@flesler It is possible and simple, I'll try to write it when I find free time.

Thanks

[2018-03-06 15:16] anandanand84 commented on #112
here is another thread for the same
https://github.com/anandanand84/technicalindicators/issues/72

[2018-03-06 16:15] shaosh commented on #110
@anandanand84
Sorry. Here is the repo: https://github.com/shaosh/macd-demo
My node version is 8.4.0.

[2018-03-06 16:17] anandanand84 commented on #110
@shaosh Thankyou I'll check

[2018-03-07 22:07] flesler commented on #112
It's indeed a dup, will close

[2018-03-07 22:07] #112 closed

[2018-03-07 22:10] flesler opened #113 "Indicator Idea: Awesome Oscillator"
This is a pretty useful indicator. Since it's derived from moving averages, might not be too complex to add.

Here's the explanation and formula:
https://www.tradingview.com/wiki/Awesome_Oscillator_(AO)#CALCULATION

[2018-03-12 11:52] gauravchauhan commented on #109
I am also facing same issue https://runkit.com/embed/s41ke7eaefwm

[2018-03-12 22:20] anandanand84 commented on #109
This happens when the close, high and low are same for the entire period; I'll add a fix

Thankyou

[2018-03-12 23:23] livelysalt commented on #86
Yes, thanks a bunch!

[2018-03-13 01:48] anandanand84 commented on #109
Fixed on version 1.1.5

[2018-03-13 01:48] #109 closed

[2018-03-13 01:48] anandanand84 commented on #84
Added in 1.1.5

[2018-03-13 01:48] #84 closed

[2018-03-13 13:40] rclai commented on #84
🎊

[2018-03-13 14:06] ivoglent opened #114 "RSI test failed"
I've just rerun the testing code of RSI indicator : [https://runkit.com/anandaravindan/rsi](https://runkit.com/anandaravindan/rsi) but the test was failed (see attached image for more details)
<img width="1107" alt="screen shot 2018-03-13 at 8 54 05 pm" src="https://user-images.githubusercontent.com/4499973/37346544-28515cbc-2702-11e8-8756-3617acd4a0be.png">

Node version : v8.9.2
TechnicalIndicat

[2018-03-13 14:17] anandanand84 commented on #114
@ivoglent Can you provide more details. I can see the the result length is higher than expected, but how much is your input size. Screenshot cannot help. Please provide the test in text.

[2018-03-13 14:20] ivoglent commented on #114
Okay, thank for your quick reply. Here is the test code :
`
import {expect} from 'chai';
import 'mocha';

describe('Test RSI', () => {
   it('Starting test RSI with technicalindicators', () => {
       let RSI = require('technicalindicators').RSI;

       let inputRSI = {
           values : [127.75,129.02,132.75,145.40,148.98,137.52,147.38,139.05,137.23,149.30,162.45,178.95,200.35,221.90,243.23,2

[2018-03-13 14:21] anandanand84 commented on #114
@ivoglent Let me check. Looks like I have commented the RSI test in the library for some reason. I'll check why

[2018-03-13 16:28] anandanand84 commented on #83
![image](https://user-images.githubusercontent.com/5538452/37355265-563f335c-26b1-11e8-9fe2-1064740df8ce.png)

This is working as expected, as for your RSI, the calculation depends on Average Gain and Average Loss which depends on previous gains and it is not calculated based on last period values, but from pervious gains ( see attached image)

[2018-03-13 16:28] #83 closed

[2018-03-13 16:30] anandanand84 commented on #114
Fixed and enabled tests for RSI.

[2018-03-13 16:30] #114 closed

[2018-03-13 16:31] anandanand84 commented on #77
Fixed https://github.com/anandanand84/technicalindicators/blob/master/src/volume/ADL.ts#L36

[2018-03-13 16:31] #77 closed

[2018-03-13 16:52] flesler commented on #83
@anandanand84 can you explain? you mean that if the period is 14 and I give 14 (or 15?) data points it should work correctly? If so, that's not the case

[2018-03-13 17:50] anandanand84 commented on #83
@flesler Think about the calculation of average gain based on the above formula.

if you have 1,4,5,6,9 values and you want to calculate avg gain for period 2. then

Based on above formula

Gains for above series is   3, 1, 1, 3
First average gain = 3 / 2 = 1.5
Second average gain = ((1.5 * 1) + 1) /  2 = 1.1

The second average gain is not equal to 1 / 2  = 0.5 which is calculated from the last t

[2018-03-13 17:59] anandanand84 commented on #72
Stochrsi is now available

[2018-03-13 17:59] #72 closed

[2018-03-14 19:14] anandanand84 commented on #108
This is not an issue.

[2018-03-14 19:14] #108 closed

[2018-03-15 16:52] #113 closed

[2018-03-16 18:40] anandanand84 commented on #111
@flesler I could not find a clear explanation of this indicator online, do you know of any?

[2018-03-17 09:38] tuanna45 opened #115 "Missing in pattern BearishHarami and BullishHarami"
I've read the code of two patterns and I see you have a missing between them. The coding of BearishHarami belonged to Bullish Harami pattern and vice verse. The same for BullishHaramiCross and BearishHaramiCross,... Do we need to reverse our input before passing them into these patterns or another thing? Please help me to verify again. Thanks.

![image](https://user-images.githubusercontent.com/31

[2018-03-18 00:26] anandanand84 commented on #115
Can you run npm run test. It will create test images for each candlestick pattern, let me know if it is what you are expecting.

![image](https://user-images.githubusercontent.com/5538452/37561278-ab3b3c2e-2a18-11e8-805c-800fa5256083.png)

A google image search shows conflicting patterns

![image](https://user-images.githubusercontent.com/5538452/37561287-ed8b53d4-2a18-11e8-9b92-b894757ff7bc.png)

[2018-03-20 04:49] tommarchi opened #116 "StochRSI Test"
Is there a unit tests go stochRSI? I found a commented out one in tests. However, it seems to be an unfinished unit test?

[2018-03-20 11:53] anandanand84 commented on #116
I usually get data for the tests from the stockcharts.com, but in this case I could not get the actual close values, instead they have it computed from RSI.  http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:stochrsi If you can get data for the test I am happy to add it.

[2018-03-22 08:24] JMoli commented on #115
@anandanand84 I do not see any conflicting images?

[2018-03-22 17:01] ben-berman-iex opened #118 "Include babel-plugin-transform-runtime as part of babel config?"
Hello, when I tried to use your library, I was not able to as it conflicted with the https://www.npmjs.com/package/bluebird Bluebird package I use. Apparently your usage of babel-polyfill overwrites Promises at the global scope.

After researching a bit, I came across this possible solution: https://babeljs.io/docs/plugins/transform-runtime/

From the documentation: _"Another purpose of this trans

[2018-03-23 09:53] tuanna45 commented on #115
Sorry for my late, I find the best definition of these patterns. As you can see below and pay attention to strong text:

![image](https://user-images.githubusercontent.com/31426828/37822168-4d29ebcc-2eb8-11e8-8a4d-bacdc774c1dc.png)

=> So I think we should swap code between "BearishHarami and BearishHaramiCross" and "BullishHaramiCross and BearishHaramiCross". Because we don't change anything busi

[2018-03-23 12:47] anandanand84 commented on #115
@JMoli can you add the cross as well in the pull request, I'll merge it together

[2018-03-23 21:37] JMoli opened #119 "Bullish / Bearish Harami always triggers with Bullish / Bearish Harami Cross"
Something I noticed fixing #115 . If Bullish / Bearish Harami Cross is true so will Bullish  / Bearish Harami .. not sure if this is desirable?

[2018-03-23 22:36] flesler commented on #111
@anandanand84 the investopedia link has an explanation and formula. tbh I'm not interested in it not from theory but, from testing it visually and seeing that it reacts relatively fast and when the 2 lines cross, it is indeed usually a reversal. Seems like a much better alternative to the MACD

[2018-03-25 11:03] heekah7 commented on #100
Some idea from my research.
1) By using zipzap indicator we can identify all the high and low of the stock.
2) Then draw all possible trend-line
3) Filter trendline by
   a) АB/BС distances ratio
   b) Number of times the price crosses the AB segment
   c) Number of times the price crosses the BC segment
   d) Distance from С to the current price
   e) Minimum and maximum line length
   f) Line sl

[2018-03-25 16:04] dawadam opened #120 "Documentation Bollinger Bands (BB) : PB"
Hi,
When using Bollinger Bands indicator, a value is not documented, what is PB ?

[2018-03-26 15:09] anandanand84 commented on #119
@JMoli Do you mean it is a bug or by the definition both will trigger at the same time?

[2018-03-26 16:46] JMoli commented on #119
@anandanand84 By definition both will trigger at the same time... but still most likely a bug.. Just need to add

`    let isSecondDayDoji  = this.approximateEqual(seconddaysOpen, seconddaysClose);
        return (isBullishHaramiPattern && !isSecondDayDoji);`

The key being to negate `isSecondDayDoji` . I think it is a bug because techinically the candle is one or the other not both a HaramiCross

[2018-03-26 16:51] anandanand84 commented on #119
@JMoli I do not use Candlestick Harami, now you are in a much better position to take that call, whatever you think should do, just add it to the existing pull request and I'll merge.

Thank you for contributing.

[2018-03-26 19:19] anandanand84 commented on #119
Actually I think we have this issue for lot of candlesticks which are similar. Have to go through all the candlesticks once again.

[2018-03-27 21:14] t-westwood opened #121 "RSI"
Hi, when i run the rsi on node.js, the result is not the same as on binance, im currently inputting 250 candle.close's, should I have less values in the array or more maybe?

Thanks!

[2018-03-27 21:22] anandanand84 commented on #121
It is exactly the same between https://cryptotrading-hub.com and binance. Cryptotradinghub uses this library. Can you show your data about your comparison?

![image](https://user-images.githubusercontent.com/5538452/37995599-a44ef0bc-31da-11e8-909f-8607be7a03b3.png)

[2018-03-27 21:55] t-westwood commented on #121
hi cheers for the quick reply, my data is coming up as the same as cryptohub. but if you compare for example, the last 10 candles rsi on TRXBTC (5 min candle) for both binance and cryptotradinghub, binance last 10 RSIs are in the 30's crypto hub is in the 50-60s?

[2018-03-27 22:13] anandanand84 commented on #121
well, it is wrong in binance, see below chart comparing cryptotradinghub and tradingview.

![screen shot 2018-03-27 at 5 10 30 pm](https://user-images.githubusercontent.com/5538452/37997833-eff3402a-31e1-11e8-897e-73640abb3ec7.png)

[2018-03-27 22:16] anandanand84 commented on #121
My guess is binance id not usinh more precision that is why it doesn't not work correct on low decimal markets.

[2018-03-27 22:17] t-westwood commented on #121
haha Fair dooze! Awesome job by the way, you have legit saved me sooo much time, I have been been trying to code these indicators from scratch, and im pretty crap at coding haha.
thanks for the reply mate, my mind is now put to ease lol.

[2018-03-27 22:21] anandanand84 commented on #121
You are welcome. I'll close this issue.

[2018-03-27 22:21] #121 closed

[2018-03-28 00:27] anandanand84 commented on #120
It is percent B. See below
http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:bollinger_band_perce

[2018-03-28 00:27] #120 closed

[2018-03-28 14:27] anandanand84 commented on #118
This library doesn't add babel-polyfill but include keras-js which adds babel-polyfill. This is related to https://github.com/transcranial/keras-js/issues/109

[2018-03-28 16:55] shaosh commented on #110
The reason for this issue is webpack which is based on uglifyjs can't uglify uglifyjs. Similar issue was also referred here:
https://github.com/mishoo/UglifyJS2/issues/1847
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/226
https://github.com/webpack/webpack/issues/4786

But I haven't seen any solutions.

After being blocked here by this issue for a month, I finally figured out

[2018-03-28 17:00] anandanand84 commented on #110
@shaosh does this mean we can close this issue?

[2018-03-29 02:01] shaosh commented on #110
@anandanand84 Yeah, I'll do it.

[2018-03-29 02:01] #110 closed

[2018-03-29 08:42] fc01 opened #122 "How to Calculate Real-time 1-Minute RSI value ？"
nextValue  ??

I need  updateValue  function

const v = updateValue(13.4)         //last minute close is 13.4    __    real time call

[2018-03-29 11:31] JMoli commented on #122
You mean getResult?
https://github.com/anandanand84/technicalindicators#getresult

[2018-03-29 12:02] anandanand84 commented on #122
@fc01 Here is an example of using nextvalue.

https://github.com/anandanand84/technicalindicators/blob/master/test/oscillators/RSI.js#L66

[2018-03-29 12:02] #122 closed

[2018-03-30 14:08] anandanand84 commented on #106
@gammell Would you mind contributing this. Thanks

[2018-03-30 14:39] #86 closed

[2018-03-31 14:50] lsiric commented on #101
Hi @anandanand84, does that repo work for you? it seems to have the same, `babel polyfill can be defined only once` error?

[2018-04-02 01:16] fc01 commented on #122
[code]

[2018-04-02 01:18] fc01 opened #123 "how to update last value ?"
[code]

[2018-04-02 01:29] anandanand84 commented on #123
There is no update last value. There is only nextValue

[2018-04-02 01:30] #123 closed

[2018-04-02 18:13] JanMesaric commented on #109
I'm using 1.1.8 and when having multiple same high, low, close it still returns Object {d: undefined, k: NaN}

[2018-04-02 18:21] JMoli commented on #109
@JanMesaric How long is the dataset? This can still occur if your period is as long or shorter than the dataset. Try with the data posted by OP to confirm

[2018-04-02 18:24] JanMesaric commented on #109
@JMoli , correct, didn't see that.

[2018-04-03 18:56] LooOOooM opened #124 "DragonFlyDoji & GraveStoneDoji always trigger together"
DragonFlyDoji & GraveStoneDoji always trigger together

[2018-04-03 18:59] LooOOooM commented on #124
... one is lying

[2018-04-03 19:47] JMoli commented on #124
@LooOOooM Are you using this for crypto? Did you set the precision? Could be a rounding error where the close = high = open = low, because I see nothing in the code that could cause this other than...

@anandanand84 The `approximateEquals` [function](https://github.com/anandanand84/technicalindicators/blob/3b8ba5ae1a8a9d006a899c36b429dfa0babf631a/lib/candlestick/CandlestickFinder.js#L7) has a hard

[2018-04-03 20:33] anandanand84 commented on #124
@LooOOooM can you send me a sample data for this issue.
@JMoli Thanks, I'll fix the precision

[2018-04-04 11:45] LooOOooM commented on #124
Hallo Guys, and Thanks for the very fast replay.
1) Yes I am using this for crypto (XTB)
2) No I did not set precision, just read about this option the first time. Just tried to set it to "10", without any changes. Can anybody point me to more info about it as I dont understand its value range 1-21.
3) Sampledata:
sampledata = {
open: [961.19, 962.09, 962.10]
close: [961.25, 962.09, 961.14]
high:

[2018-04-04 17:06] JMoli commented on #124
@LooOOooM In your first example it looks like all the numbers were approximated to ~967 which would make it a doji and make them both lying? It seems odd that doji would not be truthy here as well as it only considers the open and close.

 I guess maybe add a check to doji to make sure Close != Low and Close != High unless High = Low

I think the problem is the approximation (which I believe to be

[2018-04-04 18:36] anandanand84 commented on #124
https://github.com/anandanand84/technicalindicators/issues/65

[2018-04-05 08:39] JMoli commented on #124
Interesting. Static 10% seems like an Rand's Razor solution. The only thing I noticed with this solution is that a high = open = low = close will not trigger a doji. The more I think about this the more I think that may be correct as perhaps it should be classified as something different as it more closely reflects low market volume as opposed to a change in market trends.

I will get to a PR shor

[2018-04-05 08:50] LooOOooM commented on #124
@JMoli I think so too that the definition of dojis should bebased on percentage rather then .x value, as the size of the candle is relativ to a lot of things like, pair, timeframe, etc.

[2018-04-05 09:11] JMoli commented on #75
Strong Bullish Hammer - Bullish Hammer - Strong Shooting Star - Shooting Star

![image](https://user-images.githubusercontent.com/5056967/38357138-c0f759a0-388f-11e8-8302-a8990b83f357.png)

[2018-04-05 09:13] JMoli commented on #75
![image](https://user-images.githubusercontent.com/5056967/38357286-239011c4-3890-11e8-8af2-53bec562d14d.png)

[2018-04-05 09:18] fdsedhu commented on #78
@anandanand84 : i have the basic js code for supertrend. if u want i can share it.

[2018-04-05 09:19] sedhuait commented on #78
i have basic js code for supertrend. if needed i can share it

[2018-04-05 09:25] JMoli commented on #52
@kwhitley Did you ever get this PR together?

[2018-04-05 11:33] anandanand84 commented on #78
@sedhuait Please. I'll take a look

[2018-04-05 12:00] sedhuait commented on #78
https://gist.github.com/sedhuait/985f84afba07e170357a8b8fa0129ebb

[2018-04-05 13:51] anandanand84 commented on #78
@sedhuait do you have some sort of test case for this? If you know it is right can you run a simple example and give the test cases (i.e) inputs and outputs

[2018-04-06 04:47] sedhuait commented on #78
currently i dont have anything.. i ll try to add some over this weekend. please give me sometime.

[2018-04-08 21:02] #115 closed

[2018-04-19 10:31] ThatBrianDude opened #125 "What is the "period" option for?"
Is it supposed to set the time period? Is it in minutes, hours or days?

Say I want to calculate the hourly RSI with a given array of values (each representing the price at that hour).

What should the period option be? 60?

[2018-04-19 11:25] anandanand84 commented on #125
Period is not hours or days or minutes, its the number of bars, if you send hourly data it is hourly, if you send daily data it is for days.

Period is a required parameter used to calculate RSI. Usually people use 14.

[2018-04-19 11:25] #125 closed

[2018-04-19 13:08] ThatBrianDude commented on #125
So it should be the exact count of values I provide?

If I provide 24 values (1 day) then I set the period to 24 to get an RSI for each value?

Also, do I provide RSI with close values or something else?

[2018-04-19 13:37] anandanand84 commented on #125
No. It is difficult to explain. I would suggest you to read https://www.tradingview.com/wiki/Moving_Average and https://www.tradingview.com/wiki/Relative_Strength_Index_(RSI) to learn the basics of technical indicators and RSI

[2018-04-25 19:22] heekah7 opened #126 "Zig Zag indicator"
It would be a great addition! Yet limited sources has it formula ;(

[2018-04-25 19:30] anandanand84 commented on #126
@heekah7 I'll check it out. Thanks

[2018-05-02 15:48] andyperisho opened #127 "MFI calculation wrong?"
I was testing MFI on BTCUSD daily, and noticed that investing.com, tradingview, and cryptowat.ch all return similar values, but they are different from what this library is generating.

I digged in the code, and I have a feeling there's a mistake in calculating the Typical price.
Based on [this](http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:money_flow_index_mfi):
[cod

[2018-05-02 17:57] andyperisho opened #128 "Failed to compile webpack with uglify"
I'm using the default `create-react-app` configuration. When I try to `npm run build`, I run into this error:

[code]

If I disable uglifyjs, then I no longer face this issue.
If a fix cannot be found, do you know of any way to get this library precompiled with it's dependencies instead? Or is there anything u recommend doing instead?

Cheers.

[2018-05-02 18:11] ghost opened #129 "KDJ?"
The KDJ is basically a KD with a J that is the difference between the previous two. (Kinda like the MACD). More on it [here](https://www.thatsucks.com/kdj-stochastic-indicator-can-you-improve-on-perfection/).

Any chance you could add it?

[2018-05-02 18:30] anandanand84 commented on #127
The test case for MFI is based on the stock charts link you provided https://github.com/anandanand84/technicalindicators/blob/master/test/volume/MFI.js and the test pass so either the calculation provided in the stockcharts is wrong or it should be wrong in the other websites. If you think stock charts is wrong then we may need the actual logic to fix.

[2018-05-03 14:34] JMoli commented on #127
Are the inputs the same? I can see a value of 14 on one but not the other

[2018-05-03 15:07] anandanand84 commented on #127
@andyperisho Thanks for taking the time to get the screenshot. Agreed there is a bug and I looked the code and figured out where the bug is. One last thing can you get me values of high, low, close and the mfi for me to write the test case. Currently this library compares the typical price against close which should be against previous typical price, can you get me the test case so I could make th

[2018-05-03 15:12] anandanand84 commented on #128
no, pattern detection is not possible unless you have keras-js dependency, which will be fixed soon when I migrate pattern detection to tensorflowjs

[2018-05-03 18:15] andyperisho commented on #127
@JMoli yes they are the same. It's BTC/USDT for binance, so i doubt they would differ :)

@anandanand84 I see u closed the issue. So is this resolved, or do u still need the information u requested?

[2018-05-03 18:16] andyperisho commented on #128
Sure, no worries. I'll wait for the depency to change. Can u ping and close this issue when it happens?
Thx for the help.

[2018-05-03 19:13] anandanand84 commented on #127
It is resolved, but you check again and confirm.

[2018-05-04 05:15] andyperisho commented on #127
Could u publish it to npm?

[2018-05-04 11:10] anandanand84 commented on #127
it is published

[2018-05-04 12:29] andyperisho commented on #127
[code]

[2018-05-04 12:30] andyperisho commented on #127
And on npm, looks like it's still at 1.1.10: https://www.npmjs.com/package/technicalindicators

[2018-05-04 14:25] anandanand84 commented on #127
Sorry my bad I thought I published it. Published now.

[2018-05-04 14:49] andyperisho commented on #127
Confirmed and tested. The results match what i'm seeing on trading view.
Thx a lot mate.

I'm curious, did the change impact the tests u had from the traditional market data?

[2018-05-04 14:49] andyperisho commented on #129
Yes, I can help.

Is there information for devlopment in the README? What's the recommended way to make pull requests?

Looking forward.

[2018-05-04 18:33] anandanand84 commented on #127
The problem was the test from the stockcharts.com had computation from typical price and not from high, low, close. So I manually created high, low, close to to the same value to get the same typical price. So in my test case typical price and close had the same value so it passed when I compared it with the prev close instead of prev typical price since because both are same.

https://github.com/

[2018-05-04 19:47] andyperisho commented on #127
That makes sense.

In any case, thank you very much for your swift response!

[2018-05-06 19:19] andyperisho opened #130 "Another uglify issue"
[code]

Once I remove the extra `;` from this file, I get the error for another file.
I guess that the `lib` files are actually converted from typescript? What's the best way to mitigate this error?

Thx.

[2018-05-06 21:54] anandanand84 commented on #130
@andyperisho I would say it is an issue with whatever uglify library you are using. Since it is a valid javascript, they should handle the minification.

[2018-05-07 07:58] andyperisho commented on #130
Which one are you using?

[2018-05-07 10:58] anandanand84 commented on #130
I am using https://github.com/babel/minify

[2018-05-07 15:37] andyperisho commented on #130
Ok, thx.

[2018-05-07 15:37] #130 closed

[2018-05-09 09:18] ionush opened #131 "Usage problems with react-native"
Hi, I'm currently having a problem getting the most recent version (1.1.11) to run. I have already referred to #98

As pattern detection required keras-js, and that requires a lot of core modules, I used rn-nodeify to install core packages util, stream, fs, events, path and buffer. However, after doing that, my react-native application becomes unresponsive.

Do you have any suggestions to how I ca

[2018-05-09 12:28] JMoli commented on #131
I believe @anandanand84 is working on removing it as a dependency requirement.. As far as a workaround @anandanand84 has suggested loading the library from a cdn without the dependency or to use a version <1.1.4

[2018-05-13 09:02] ManuCart opened #132 "CCI.calculate not working as expected"
[code]
I gave an array of 500 open,high,low and close

this my function
[code]
this is the result

[code]

The first time I call my function only 480 have NaN then after call a second time I have 479 and 480 NaN and then 478,479,480 NaN......

What's wrong
I use MACD, Stoch and RSI without any problems

[2018-05-13 14:13] anandanand84 commented on #132
@ManuCart I'll take a look

[2018-05-24 04:24] KashyapCKotak opened #133 "Error: Uncaught SyntaxError: Invalid regular expression on loading index.html"
**I downloaded this from npm as instructed and wrote this in index.html:
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js"></script>
<script src="technicalindicators/dist/browser.js"></script>
in browser and got this error in esprima.js:**

![image](https://user-images.githubusercontent.com/20476571/40464354-6526a16a-5f38-11e8-8501-64fc7cf7ecf1.png)

**I am

[2018-05-24 13:54] anandanand84 commented on #133
I am not sure can you show me an github example. This packages is not dependent on esprima.js or softmax.js

[2018-05-25 07:36] KashyapCKotak commented on #133
Thanks for your prompt response :)
The above issue was resolved when I replaced<script src="technicalindicators/dist/browser.js"></script> with https://unpkg.com/technicalindicators@1.1.11/dist/browser.js. Not sure why it didn't work through packages downloaded from npm. I didn't perform the bower install step. Hope that was not a problem.

I wanted to know one more thing:
When I pass data to MACD

[2018-05-26 17:26] StalexB opened #134 "Bollinger Bands NaN values in browser"
Hello,

I'm encountering an issue where I get NaN values for upper and lower bollinger bands with input that normally does the job when using it in Node. This issue is most likely related to the browser I guess. Can you help me out?

![a813c1a02755b2f2a97c16e4cda55c3f](https://user-images.githubusercontent.com/16706921/40578788-75624bae-611a-11e8-8e54-fc45a1b6a498.png)

[2018-05-27 01:37] anandanand84 commented on #134
can you provide the inputs used?

[2018-05-27 08:32] KashyapCKotak commented on #133
Can anyone please reply to my question above? I am really confused.

[2018-05-27 15:32] StalexB commented on #134
Thanks for the quick response. The inputs used are visible in the picture, at the top.

[2018-05-27 17:19] KashyapCKotak opened #135 "cryptotrading-hub.com rendering incorrectly in chrome"
Hello, Thanks for this amazing first of all. While looking at examples on cryptotrading-hub.com, I found that  the chart area on top and on right persisted anything that was displayed there previously. See the screenshot below:

![image](https://user-images.githubusercontent.com/20476571/40588740-f795c700-61ff-11e8-84fa-70073dd186ab.png)

I did not behave this way a few days back. Thought to make

[2018-05-28 17:43] anandanand84 commented on #135
@KashyapCKotak Lets continue the conversation about cryptotrading-hub.com on discord or reddit and keep only technicalindicator related stuff in here. Can you send me a message in discord. I'll close this. Thanks.

[2018-05-28 17:43] #135 closed

[2018-05-28 17:44] anandanand84 commented on #133
If you pass 61 data points and you set the period to 25 you will get only 36 data, it is because to calculate on data point of sma you need 25 data points. So you will always get 61 - period number of data points back. if you want you can prepend 0 or null in front

[2018-05-28 17:44] #133 closed

[2018-06-08 04:29] KashyapCKotak opened #136 "Three Black Crows possibly returning wrong result"
Here is my input:
var input = {
  open: [7707.82, 7684.76, 7675.76],
  high: [7709.61, 7695.64, 7677.15],
  close: [7684.76, 7675.04, 7651.54],
  low: [7682.37, 7672.36, 7647.49]
}

Here's how it looks on a graph:
![image](https://user-images.githubusercontent.com/20476571/41138961-5f7a6d70-6b02-11e8-8593-879e3f04b4b9.png)

for three black crows:
var result = threeblackcrows(input);  //returns **F

[2018-06-08 12:05] anandanand84 commented on #136
seems correct to me.

[2018-06-08 12:06] anandanand84 commented on #136
The three black crows pattern should ideally consist of three relatively long bodied bearish candlesticks that close at or near the low price for the period. The second candle almost closes near the low

[2018-06-08 13:08] KashyapCKotak commented on #136
aren't all the candles closing near low?

[2018-06-08 13:11] anandanand84 commented on #136
yes all candles should close near the low. Can you tell me what are you expecting in three black crows

[2018-06-08 14:22] anandanand84 commented on #136
ok got. It should return true instead it return false. May be it is also expecting high should be near the open.

[2018-06-08 16:11] KashyapCKotak commented on #136
I tried reducing the middle one to have almost no upper shadow... But it still returned false...

[2018-06-08 16:50] anandanand84 commented on #136
ok I'll check it out.

[2018-06-08 17:56] JMoli commented on #136
I see nothing wrong with the input / logic... If I had to guess I bet something is getting reversed before being passed to threeblackcrows... @KashyapCKotak Can you test the same input with the same implementation with threewhitesoldiers just to remove this as a possibility?

[2018-06-08 18:03] JMoli commented on #136
Nvm I did it and see they are both false... Weird I will look closer

[2018-06-08 18:14] JMoli commented on #136
Okay, the problem is the second day open is EQUAL to the first day close... looks like we need to add >= to the logic test instead of just greater than (edge case but needs to be handled)... but I am not sure what other implications this would bring...

[2018-06-26 03:26] sashasochka opened #137 "Volatility Stop indicator?"
Hi,
It would be really nice if you added volatility stop indicator, this is very simple to calculate, here are two examples:

https://www.tradingview.com/script/oRK5JwIm-Volatility-Stop/
http://thepatternsite.com/stops.html

If you don't have time for this, I might try adding it myself later.

[2018-07-07 08:38] dawadam opened #138 "Question : indicators and Ichimoku"
Indicators can be used to Ichimoku ?

[2018-07-14 21:44] Patafix opened #139 "Probleme with babel polify"
Hello,
If an application already use babel-polify the application will crash beacause only one instance of babel-polify can be require.

The probleme is not directly in this lib but in Keras.js.

To fix the probleme you need this pull request to be merged :
https://github.com/transcranial/keras-js/pull/125

[2018-07-30 09:29] sullyfischer opened #140 "The link for "Pattern Detection" in readme doesn't work"
Thank you for your great repo. Just wanted to let you know the link on the readme file (Github's doc) doesn't work.

Cheers.

[2018-08-20 04:17] ProgrammingLife opened #142 "Is any chance to calculate a linear regression with TechnicalIndicators?"
Is any chance to calculate a linear regression with TechnicalIndicators? If not. Maybe in the future some time? :)

[2018-08-21 00:31] broburns commented on #124
Here's what i came up with to check candle patterns. It may not be very pretty, but it's really simple, is percentage based so it can be used perfectly with super low price pairs and is pretty accurate. The ratios and such aren't perfect yet, but when testing it against the functions in this library with backtest data, it's proven to increase my algo's win/loss ratio by ~5%.

[code]

for reference

[2018-08-31 14:49] anandanand84 commented on #75
This is added to the library thanks to @marcus-n3rd who added the complete set with full explanation in the PR. Feel free to check the PR and let us know if you have any comments

[2018-08-31 14:49] #75 closed

[2018-08-31 15:46] #118 closed

[2018-09-17 09:56] hnlinzhi19 opened #147 "Have some error in QQ browser 9.xx"
when my web in QQ browser 9 , first error ** is not support ,sende async error.

[2018-09-17 13:58] anandanand84 commented on #147
which file did you use? I am not sure what browser is it and what capabilities it supports
Try this file
https://raw.githubusercontent.com/anandanand84/technicalindicators/master/dist/browser.js
if it did not work you have to compile for that browser from the src using babel

[2018-09-17 13:58] #147 closed

[2018-09-22 17:57] hariseldon78 opened #148 "typescript errors"
In the last versions the "default class" declarations problem is solved, but there is still this error:

[code]

it can be solved by removing line 3 `export { FixedSizeLinkedList };`

[2018-09-26 14:27] anandanand84 commented on #148
I'll take a look

[2018-09-27 21:11] Fab85 opened #149 "Stochastic RSI example not found"
Hello,

I wanted to calculate the Stochastic RSI, but the link to the example code shows 404. How do I use the Stochasitc RSI in my code?

Thanks

[2018-09-27 22:10] anandanand84 commented on #149
You can look at the src/ folder or the test folder to see an example.

stochasticrsi({
  values : number[];
  rsiPeriod:number;
  stochasticPeriod:number;
  kPeriod:number;
  dPeriod:number;
})

[2018-09-27 22:10] #149 closed

[2018-10-08 11:56] dawadam commented on #126
Any news ?

[2018-10-08 12:01] dawadam commented on #126
I think this script can be used :

https://www.tradingview.com/script/7cywfVQb-ZigZag-HiLo/

[2018-10-11 19:29] anandanand84 commented on #148
It is fixed manually

[2018-10-11 19:29] #148 closed

[2018-10-12 16:08] anandanand84 commented on #138
Ichimoku cloud added.

[2018-10-12 16:08] #138 closed

[2018-10-12 20:04] dawadam commented on #138
Good ! :)

[2018-10-12 21:34] anandanand84 commented on #134
Could not reproduce

[2018-10-12 21:34] #134 closed

[2018-10-14 08:27] dawadam commented on #138
Only on v2 ?

[2018-10-16 19:56] furkankinyas opened #150 "broken link"
https://runkit.com/anandaravindan/stochasticrsi
do you have sample code about stochasticrsi

[2018-10-18 13:48] dawadam opened #151 "Time in "Volume Profile" indicator result"
Hi
I do not understand why there is a value "time" in the result of the indicator.
What is the interest? How is it used?

[2018-10-18 15:51] anandanand84 commented on #151
@dawadam  Here is the source code for volume profile, where do you see the time in the results

https://github.com/anandanand84/technicalindicators/blob/master/src/volume/VolumeProfile.ts

[2018-10-18 18:33] dawadam commented on #151
@anandanand84 Sorry, it's an error...

[2018-10-18 18:33] #151 closed

[2018-10-22 15:55] anandanand84 commented on #150
You can take a look at the source code for the input and output

https://github.com/anandanand84/technicalindicators/blob/master/src/momentum/StochasticRSI.ts#L12

[code]

[2018-10-22 15:55] #150 closed

[2018-10-23 09:47] sullyfischer opened #152 "Quick question about pattern detection training"
I'm looking to train a few models using Tensorflow, let's say (I'm not sure yet) for more candlestick patterns. Could you please let me know from your experience, how many examples of each chart pattern I would need for the model to work accurate enough? 10? 100? 1000? 10000? You see where this is going 😆

[2018-10-23 13:12] anandanand84 commented on #152
Candlestick patterns has clear logic to identify, so it would be better to find candlestick patterns in traditional programming. I am assuming you are trying to identify chart patterns which is complicated, I used to get good results with tens of thousands of patterns, I mostly used a combination of synthetic and organic data. Getting the organic data is the key for accurate prediction which is ve

[2018-10-23 13:12] #152 closed

[2018-10-24 21:07] nedievas opened #153 "tensorflow/core/platform/cpu_feature_guard.cc with technicalindicators.ADX"

[2018-11-10 03:55] saurabh-vijayvargiya opened #154 "Not able to install on local"
Hi,

I followed the below process to download and install the project.

[code]
Also installled canvas before all this. But in the end while running the project I am getting this error -

[code]

I am installing this on Mac OS high sierra.

If I missed any crucial detail about the bug then please let me know.

Thanks

[2018-11-10 07:57] ManuCart commented on #154
just try
[code]

[2018-11-10 14:30] saurabh-vijayvargiya commented on #154
@ManuCart Thanks it worked.

[2018-11-10 14:30] #154 closed

[2018-11-18 10:13] KashyapCKotak opened #155 "Link for Stochastic RSI is broken in readme"
The link in the readme for Stochastic RSI seems to be broken which is curently this: https://tonicdev.com/anandaravindan/stochasticrsi

[2018-11-18 13:43] KashyapCKotak opened #156 "Ichimoku cloud should be having lagging span line also?"
While provinding the input for Ichimoku, I can see a displacement option. While referring Investopedia (https://www.investopedia.com/terms/i/ichimoku-cloud.asp) and StockCharts (https://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:ichimoku_cloud) I can see an extra line plotted by the name of Chikou Span or Lagging Span. Can this line please be added in Ichimoku cloud indic

[2018-11-18 16:48] anandanand84 commented on #156
@KashyapCKotak Chikuspan is a displacement of the close, there is nothing to add in that. For getting the chikuspan you just use close[i - displacement]. For example with displacement value of 1. Close of today is the chikuspan for yesterday

[2018-11-22 11:52] rd13 opened #157 "Reliance on tensorflow problematic"
Tensor flow reliance is a complete nightmare when using in any environment with node or compiling with webpack for the browser.

Node:

Nodejs Environment detected
2018-11-22 11:42:26.099821: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.2 AVX AVX2 FMA
(node:85351) UnhandledPromiseRejectionWarning: Refe

[2018-11-26 13:56] hungryforcodes commented on #157
Yeah, I get the same "ReferenceError: tf is not defined" on startup.

[2018-11-27 15:54] anandanand84 commented on #157
It is fixed in technicalindicators@2.0.7. Please verify

[2018-11-27 15:54] #157 closed

[2018-11-27 15:54] #156 closed

[2018-11-27 16:14] slidenerd commented on #123
I double @fc01 you get live data for say a 1 hour chart that updates every second, how are you supposed to get the latest rsi for that duration without recalculating everything

[2018-11-27 16:39] anandanand84 commented on #123
as said there is no update last values there is only nextValue which means you will be able to get the next value after the bar completes and not intermediate updates

[2019-01-01 14:23] alexcrownjr opened #158 "sma\ema wrong result ?"
I tried to find days where SMA100 crossed up or above SMA200

`
const ccxt = require('ccxt')
const SMA = require('technicalindicators').SMA
const timeStamp = require('unix-timestamp')

const binance = new ccxt.binance ({
  'enableRateLimit': true
})

;(async ()=> {
   const ohlcv = await binance.fetchOHLCV ('RVN/BTC', '4h')
   //const series = ohlcv.slice (-200).map (x => x[4])
   const  sma200 =

[2019-01-02 13:10] anandanand84 commented on #158
SMA and EMA are basic for many other indicators, we have already tested indicators like macd that is based of sma with tradingview and it is working fine. (see this https://github.com/anandanand84/technicalindicators/issues/44 for example) You may have to compare the input data you give between tradingview and your code as well.

[2019-01-09 22:32] temp3l opened #159 "bullishharami fails with sample data"
var bullishharami =require('technicalindicators').bullishharami;

var input = {
  open: [20.12, 22,13],
  high: [23.82,22.76],
  close: [23.50,21.70],
  low: [19.88,21.31],
}

var result      = bullishharami(input);
console.log('Is Bullish Harami Pattern? :' +result);

[2019-01-11 08:13] alanmacleod commented on #142
here's a pretty rough implementation that mimics tradingview's linreg(), you can figure it out from this. I might make a pull request and include my other implementations if I proceed with the technicalindicators package.

[code]

[2019-01-17 13:50] slidenerd commented on #132
CCI is incorrect, I double this after checking answers using this library in Python https://github.com/mrjbq7/ta-lib

[2019-01-17 21:40] AranDekar opened #160 "anandanand84/technicalindicators in docker raised an error with tfjs-node"
I am running a docker container for my project which uses the technicalindicators module,
internally the module uses @tensorflow/tfjs-node, if you refer to their website (tfjs-node:https://github.com/tensorflow/tfjs-node) it is stated as below:

[code]

I see that the tfjs-node is included in the package.json of technicalindicators module, but suppose you want to run it in a docker where runs on u

[2019-01-23 16:47] itraderobots opened #161 "CCI using 20 instead of input"
The CCI is using the number 20 instead of the input, which is an issue for anyone who wants to use a CCI period other than 20. I change it manually to reference the CCI period I needed to use by replacing the number 20 with input.period and it worked, although there is probably some other way you prefer.

It needs to be changed to use the input provided by the programmer in these two places:

http

[2019-01-24 15:09] anandanand84 commented on #161
Thank you. I will fix it.

[2019-02-08 01:36] bengrunfeld opened #162 "Registration of backend tensorflow failed Error: Could not locate the bindings file."
Running on Amazon Web Services via Elastic Beanstalk.

System information:

    Linux ip-172-31-30-251 4.14.88-72.76.amzn1.x86_64 #1 SMP Mon Jan 7 19:47:07 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

Error:

[code]

[2019-02-10 16:10] SouthRibbleTech opened #163 "how to use with Promise or callback"
I am struggling to use this library in my use case. I have an array of symbols that I map through and for each symbol I want to use the SMA function. The problem is that I have no way to wait for the calculation to finish on each symbol before calculating the next one.

Am I missing something? I have looked everywhere for examples of a callback function that I can promisify with bluebird.

[2019-02-10 19:04] Deca opened #164 "Cannot install - canvas binares not found error"
Hi,
I've git cloned the repo on my pc (running win 10 with node 10.x) but when I try to run "npm install" I get this error:

[code]

I've tried to install a recent version of canvas with `npm install canvas@2.2.0` but I get the same error and I don't understand why it still search for the 2.0.0 alpha

[2019-02-10 20:19] anandanand84 commented on #163
The API is synchronous. You dont need a promise or callback.

[2019-02-10 20:21] anandanand84 commented on #164
Canvas is only a dev dependency. It is required only for tests to verify if candlestick patterns are working properly. Are you trying to develop or running tests?

[2019-02-10 22:32] hariseldon78 opened #166 "duplicated declarations"
Hello, there is still a problem with duplicated declarations in the generated.d.ts:

[code]
so i fixed the problem to the root with this merge request: https://github.com/anandanand84/technicalindicators/pull/165

[2019-02-11 13:39] willoughby commented on #162
Did you resolve this ?

[2019-02-13 00:33] bengrunfeld commented on #162
@willoughby Unfortunately not. As a result, I had to switch to [Tulind](https://www.npmjs.com/package/tulind), which had its own set of errors with AWS EB, but I was able to [solve those](https://github.com/TulipCharts/tulipnode/issues/50).

[2019-02-15 11:58] instabot42 commented on #158
This line in your example is wrong...

```var result100 = sma200.nextValue(data[4])```

You're always adding to the sma200 object.

[2019-02-17 10:48] angryhorse0905 opened #167 "ATR indicator does not work properly"
https://github.com/anandanand84/technicalindicators/blob/master/test/directionalmovement/ATR.js

In this test file, atr.nextValue() param is object of high, low, close prices.
But the param type of nextValue() in ATR is number.

[2019-02-18 03:25] anandanand84 commented on #167
Agree, It is an issue with the typings. The test case is correct. You should use high, low, close price to make it work.

[2019-02-21 12:20] radian-rgc opened #168 "Install technicalindicators node js on Centos server"
Hi
I want to install it on Centos 6 (without GPU) .
i didnt need browser , just i need some function use like rsi macd and etc...
but when i try to install from putty i get some error like this:

`1265 verbose argv "/usr/bin/node" "/usr/bin/npm" "install" "--save" "technicalindicators"
1266 verbose node v8.9.1
1267 verbose npm  v6.0.0
1268 error code ELIFECYCLE
1269 error errno 1
1270 error @tenso

[2019-02-22 11:58] linaspasv commented on #168
Same problem here. I need RSI calculations but unable to install the library on Centos.

[2019-02-22 13:54] linaspasv commented on #168
@radian-rgc try older version that has no tensorflow dependencies. It worked perfectly for me.

As of a solution I would suggest to make tensorflow as an optional dependency for someone who does not need ML prediction.

[2019-03-01 10:50] iofirag opened #169 "change the input data order"
First, Love the library! Thanks for all the hard work!
my issue is:

## Current
current situation is that we need to create input for pattern that need 2 days, and create another for the one with the 3 days, and kind of.
[code]
how can i check all the patterns in the same input?

## Expected
think to create it more generic way.
in that way i will build input as long as max pattern need,
when we bu

[2019-03-01 11:53] anandanand84 commented on #169
@iofirag It works the way you expect. Did you check this file?
If you still face this issue, can you send a sample data?

[2019-03-01 13:03] iofirag commented on #169
yes, i see,
https://github.com/anandanand84/technicalindicators/blob/master/src/candlestick/CandlestickFinder.ts#L66
so just for understand,
if i set [5/12/19(data), 4/12/19(data), 3/12/19(data), and vice versa..]
so i dont need to set reversedInput = true ?

(i a little bit confuse about reversedInput field)

[2019-03-01 15:56] anandanand84 commented on #169
oldest data is always last. If you give oldest data first you need to say reversedInput as true

[2019-03-03 13:56] iofirag commented on #169
got it!. thanks 👍

[2019-03-04 14:22] #169 closed

[2019-04-04 23:11] pigd0g commented on #153
I get the same, just a warning I think, would be nice to remove from logs.

[2019-04-11 15:37] daviddlpg opened #170 "Pattern detection working example"
Hello.

I am following your project since months ago, and now i am starting to work over your patterns functions.

But i am not capable of run succesfully the example you have in the playground URL of the readme.md so as to start testing. Could be possible to get a complete basic working example of the HS o DB function?

Thanks a lot. Best regards,
David

[2019-04-13 05:21] RomanKisilenko commented on #161
Hi, please make this fix.

[2019-04-13 19:13] jsappme commented on #157
i am still getting ```2019-04-13 13:13:07.368884: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.2 AVX AVX2 FMA
[code]

[2019-04-14 12:40] anandanand84 commented on #167
Fixed declarations

[2019-04-14 12:40] #167 closed

[2019-04-14 12:40] anandanand84 commented on #166
Merged and published

[2019-04-14 12:40] #166 closed

[2019-04-14 12:40] #163 closed

[2019-04-14 12:40] anandanand84 commented on #161
Fixed and published

[2019-04-14 12:40] #161 closed

[2019-04-14 12:42] #158 closed

[2019-04-14 12:43] anandanand84 commented on #132
This is fixed.

[2019-04-14 12:43] #132 closed

[2019-04-14 16:13] RomanKisilenko commented on #161
Thank you!

[2019-04-19 16:01] garrypas commented on #168
I had to downgrade to v1.1.13 too, v2 is trying to do too much. Not interested in the tensorflow stuff, don't know why it is coupled to the core project (SRP) when it causes so many issues. Should be optional, or a different project.

[2019-04-24 13:54] anandanand84 commented on #164
If you still face this issue. Please reopen. Canvas is only a dev dependency to run tests. Le met also the OS you are using.

[2019-04-24 13:54] #164 closed

[2019-04-24 14:02] anandanand84 commented on #168
I am not able to reproduce this in an centos docker image. Can someone help me reproduce this in a docker image.

![image](https://user-images.githubusercontent.com/5538452/56665391-93e25f00-666f-11e9-8068-58e8fb83b7f2.png)

[2019-04-27 04:24] bugs181 opened #171 "Having issues with CCXT Example and Tensor Flow"
Also having issues with tensor flow here. Came from a CCXT example and this particular code:

<br>

**Code:**
[code]

**Output:**
[code]

[2019-04-27 04:24] bugs181 commented on #171
Related #157

[2019-04-27 04:33] bugs181 commented on #171
Update: Switched from `pnpm` to `npm` and made no difference.

[2019-04-28 05:51] Rakesh-gene opened #172 "Issues with installation on ubuntu"
Exception has occurred: Error
Error: ENOENT: no such file or directory, access '/api/node_modules/technicalindicators/node_modules/@tensorflow/tfjs-node/dist/package.json'
    at Object.fs.accessSync (fs.js:301:11)
    at exists (/api/node_modules/bindings/bindings.js:10:60)
    at Function.getRoot (/api/node_modules/bindings/bindings.js:161:9)
    at bindings (/api/node_modules/bindings/bindings.

[2019-05-13 13:18] dawadam commented on #126
Maybe this :

https://github.com/amircp/ZigZag

[2019-05-15 14:10] whittlem opened #173 "Can this work with React Native?"
Does "technicalindicators" work with React Native?

I installed it with:
"yum add technicalindicators"

And have tried loading the library with these:
import { SMA } from 'technicalindicators';
import SMA from 'technicalindicators';
const { SMA } = require('technicalindicators');

I am getting this error message:

error: bundling failed: Error: Unable to resolve module `path` from `app/node_module

[2019-05-15 14:20] whittlem commented on #173
I installed the "path" and "fs" dependencies...

yarn add path
yarn add fs

And now getting this error message:

error: bundling failed: Error: While trying to resolve module `fs` from file `app/node_modules/@tensorflow/tfjs-node/dist/io/file_system.js`, the package `app/node_modules/fs/package.json` was successfully found. However, this package itself specifies a `main` module field that could no

[2019-05-15 16:14] anandanand84 commented on #173
It should work. If you cannot add it as part of build. You can use the built .js file from https://github.com/anandanand84/technicalindicators/tree/master/dist

[2019-05-15 19:38] whittlem commented on #173
Thanks, I will try that. Do you have an example on how I can include this js file and which one do I include?

[2019-05-23 09:22] gabrieldodan opened #174 "Donchian Channels"
Would be useful to have this indicator too. Calculation seems to be easy https://www.tradingview.com/wiki/Donchian_Channels_(DC)

Regards!

[2019-05-25 16:33] whittlem commented on #173
@anandanand84, any news with this?

[2019-05-29 18:11] trizin opened #175 "Stochastic RSI example missing"
16. Stochastic RSI (StochRSI).
[https://runkit.com/anandaravindan/stochasticrsi](url)
404 Not Found

[2019-06-03 11:17] jsappme opened #176 "Vue app building failing"
while trying to build my vue app using this pkge, i am getting the following error:

[code]

[2019-06-08 14:27] wilburforce83 opened #179 "Pattern Detection help please"
Hi,

I think I have set up pattern detection properly, I'm not getting any errors, but I am only ever receiving the result of false for `isTrendingUp()` or `isTrendingDown()` . There is no documentation for this anymore either, could some help me  with an example, I have the following :

[code]

`closeInput` is an array of candle close values 450 long `[xxxx,xxxx,xxxx, ... ]` Like I say, no errors

[2019-06-09 15:29] anandanand84 commented on #179
You can test it using 1, 2, 3, 5, 8, 8, 10, 12, ..  or so for trending up. and the reverse for trending down.

[2019-06-09 15:56] wilburforce83 commented on #179
@anandanand84  Thanks for the quick reply. I have done this already, as mentioned, my test array was [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

This gave me the console warning of being less than 250, but continued to show "false". but no errors.  Thanks!

[2019-06-09 16:16] wilburforce83 commented on #179
![image](https://user-images.githubusercontent.com/17556774/59161389-0a310880-8ada-11e9-9311-7fcb40839932.png)

![image](https://user-images.githubusercontent.com/17556774/59161405-3056a880-8ada-11e9-9447-20b3999a403f.png)

[2019-06-11 16:01] coinrazzi opened #180 "Tensorflow installation problem"
Installed Python 3.7.3
NodeJs 10.16.0 LTS

When is try installing
npm install --save technicalindicators

I've got this errors and installation not complete.
D:\NodeJSProjects\Lesson ----- is my local project folder

_______________________________________________________________

D:\NodeJSProjects\Lesson>npm install @tensorflow/tfjs-node

* Downloading libtensorflow
[=============================

[2019-06-12 06:33] jsappme commented on #180
this issue with TFJS is very common. maybe a version of this package without it will be useful.

[2019-06-21 17:56] ahmedbodi opened #181 "Possible to get the original python version of the tensorflow models?"

[2019-06-22 16:30] minhphuc429 commented on #180
@anandanand84 I suggest using @tensorflow/tfjs-node@0.3.2 instead of @tensorflow/tfjs-node@0.1.17 as the moment in package.json. I had to try and it works well in my Raspberry Pi 3 B+

[2019-06-24 08:33] jsappme commented on #180
thanks @minhphuc429 i hope this pr get commited soon

[2019-06-24 11:12] #180 closed

[2019-06-26 09:28] jslok opened #183 "Cannot import into react"
Is there a specific method I need to use to use this in react?

I use any of the examples like so
`const sma = require('technicalindicators').sma;
var prices = [1,2,3,4,5,6,7,8,9,10,12,13,15];
var period = 10;
sma({period : period, values : prices})`

I get this error:
`./node_modules/@tensorflow/tfjs-data/dist/tf-data.esm.js
Attempted import error: 'deprecationWarn' is not exported from '@tensorf

[2019-06-28 11:12] Bretto opened #185 "Observable and indicators"
I am confused as to how to plug in this lib with my real time trading bot. Currently I developed my own observable sma but I want the Ema the rsi etc... and I don’t want to write them from scratch as I did my sma. How do you plug those indicators with observable?

[2019-06-29 19:45] MohamedLamineAllal commented on #183
Same here !

[2019-07-04 12:10] zural opened #186 "Candlestick pattern is giving wrong result for Doji, Bullish Spinning Top, Bearish Spinning Top"
Input for the candle

`
var input = {
  open: [201],
  high: [201.25],
  close: [200.8],
  low: [200]
};
`

Output for the input:
![image](https://user-images.githubusercontent.com/6199252/60664946-cdf68b00-9e80-11e9-9194-f3c12599f00f.png)

**Now my question is, candle belongs to which pattern ?**
Doji or Bullish Spinning Top or Bearish Spinning Top

![image](https://user-images.githubusercontent.

[2019-07-04 12:14] zural commented on #159
`var input = {
  open: [23.5, 21.7],
  high: [23.82, 22.76],
  close: [20.12, 22.13],
  low: [19.88, 21.31]
};
`

Logic was correct, only the sample data given in the example was wrong, use the above and check.

[2019-07-07 03:49] hostenvoy commented on #176
I am actually having same issue with angular electron. Did you solve the problem?

[2019-07-07 03:50] hostenvoy commented on #176
`ERROR in main.d9513f317ecc338cfa29.js from Terser
Unexpected token: punc (;) [main.d9513f317ecc338cfa29.js:7261,4]`

That is actual error when trying to build.

[2019-07-15 13:32] vitaly-t opened #187 "Invalid Twizzer implementations"
https://github.com/anandanand84/technicalindicators/blob/d8fe190212f5011a6057beaeaea0c11e763a4bcb/src/candlestick/TweezerTop.ts#L14

Your Twizzer Top + Bottom calculations look bad. You should not do exact match comparison like `data.high[3] == data.high[4]`.

The match must include a minor deviation, which may be invisible to the eye, but still forming the correct pattern, like 0.001% of the pric

[2019-07-17 09:33] tistaharahap commented on #185
Don't have to do much.

[code]

[2019-07-17 09:36] tistaharahap commented on #175
[https://github.com/anandanand84/technicalindicators/blob/master/test/momentum/StochasticRSI.js](https://github.com/anandanand84/technicalindicators/blob/master/test/momentum/StochasticRSI.js)

Don't know why it's all commented out.

[2019-07-21 12:38] NotAlfred opened #188 "Allow to use the module without requiring Tensorflow backend"
I'm regularly using your module which is very useful overall
There is one pain point though: I never need to use the pattern recognition features and having to load to whole tensorflow backend to just end up using some MACDs or RSIs is quite cumbersome.
I worked around that issue by forking your repository and completely getting rid of the tensorflow and pattern recognition components but it would

[2019-07-21 12:41] jaggedsoft commented on #188
+1

[2019-07-25 03:49] josuearrieta opened #189 "Pattern Detection Bug: Error: Unknown feature DEPRECATION_WARNINGS_ENABLED."
I'm trying to run a pattern detection code:

[code]

Getting the following error:
[code]

Node Version: `v10.16.0`
Ubuntu `16.01`
technicalindicators Version: `2.0.9`

[2019-07-27 08:18] krokhale opened #190 "MACD"
Just trying to wrap my head around this. Any help will be appreciated!  I have a pretty simple data set:

    [{minute: 1, closing: 112}, {minute: 2, closing: 112.5},...]

and so on.

According to the docs for MACD:

        let macdInput = {
                    values            :[112, 112.5],
                    fastPeriod        : 12,
                    slowPeriod        : 26,

[2019-07-27 10:22] anandanand84 commented on #190
yes it is correct.

[2019-07-28 12:09] krokhale commented on #190
Thanks!

[2019-07-28 12:09] #190 closed

[2019-07-29 07:29] ceoworks commented on #175
yep, also interested why it is commented out...
is it broken, do you need some help to fix it?

[2019-08-04 06:14] newsum commented on #189
+1

[2019-08-13 01:11] josuearrieta commented on #189
**Update:**
Downgraded to technicalindicators Version: `2.0.8`, and worked.
I think the issue was introduced because of https://github.com/anandanand84/technicalindicators/pull/182 ?

[2019-08-13 07:07] gogosb opened #191 "Ultimate Oscillator?"
Is it possible to calculate the Ultimate Oscillator with this library?

Thanks,
Barna

[2019-08-19 19:50] murilo-campaner commented on #164
I'm with same problem in Mac OS Mojave.
Trying to develop.

[2019-08-19 19:51] murilo-campaner commented on #164
[code]

[2019-08-20 06:11] rjbernaldo commented on #188
+1

[2019-08-21 23:01] jsappme opened #192 "Problem installing the package"
Here is the error log:

[code]

[2019-08-21 23:27] jsappme commented on #192
I confirm, using the following, fix the issue:

[code]

[2019-08-22 17:12] #192 closed

[2019-08-30 03:55] iamweilee opened #193 "cpu backend was already registered. Reusing existing backend 2019-08-30 11:35:08.543144: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2"
hi, the lib give warning when running:
`
cpu backend was already registered. Reusing existing backend
2019-08-30 11:35:08.543144: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2
`

how fix it? thks.

[2019-09-05 17:38] jsappme commented on #188
+1

[2019-09-22 07:57] NotAlfred commented on #188
Since there's demand for it, here's the repo I made: https://github.com/NotAlfred/technicalindicators

[2019-10-14 19:02] ofarukcaki commented on #193
Same error, any solution?

[2019-11-21 18:05] c0nf1ck opened #194 "Wrong value using nextValue ?"
After using this lib for hours, i'm seeing some divergence in the values calculated using nextValue.

[code]

[code]

Maybe i'm doing something wrong? For example

[code]
[code]

[2019-11-21 18:15] anandanand84 commented on #194
Do you mean to say using getResult and nextValues have different results.

Take a look at the the test case here https://github.com/anandanand84/technicalindicators/blob/master/test/volatility/BollingerBands.js

[2019-11-21 18:23] c0nf1ck commented on #194
Hey @anandanand84 thanks for the fast reply.

Yeah i know, i'm using getResult only when there's no value inside the array of that particular symbol.

[2019-11-21 20:20] anandanand84 commented on #194
how do you compare the values between tradingview and this, because all you are getting is the last value of the get result in here. It may have multiple values based on the size of C and period. So you may be comparing the wrong values.

For example you are comparing fifth value of your result with first value of tradingview, because you are ignoring the first four values of the result.

[2019-11-21 20:50] c0nf1ck commented on #194
I'm using only the last value and comparing based on time, for example at 2019-11-21T05:25:10-03:00 i get this from the lib:
**Upper: 0.0068462318 Lower: 0.0067572348**

on tradingview the value for the same moment is:
**Upper: 0.006700 Lower: 0.006660**

But i think i found the error, im not saving the 'nextValue' back in the array.
Changed my method to this:

[code]

I'll see if its correct afte

[2019-11-21 22:31] c0nf1ck commented on #194
Probably my error, as described above.

Thanks @anandanand84

[2019-11-21 22:31] #194 closed

[2019-11-25 14:59] anandanand84 commented on #193
Tensorflow removed with version 3.0. This should not be an issue anymore.

[2019-11-25 14:59] #193 closed

[2019-11-25 15:32] anandanand84 commented on #189
Tensorflow removed in 3.0

[2019-11-25 15:32] #189 closed

[2019-11-25 15:32] anandanand84 commented on #188
Tensorflow removed as part of 3.0

[2019-11-25 15:32] #188 closed

[2019-11-25 15:32] anandanand84 commented on #183
Tensorflow removed as part of 3.0

[2019-11-25 15:32] #183 closed

[2019-11-25 16:01] anandanand84 commented on #176
Try upgrading webpack if you are using webpack. I had the same issue and updating the webpack fixed it for me.

[2019-11-25 16:02] anandanand84 commented on #173
Tensorflow removed in version 3.0. It should work now.

[2019-11-25 16:02] #173 closed

[2019-11-25 16:03] anandanand84 commented on #160
Tensorflow removed in version 3.0. It should work now

[2019-11-25 16:03] #160 closed

[2019-11-25 17:25] anandanand84 commented on #172
Tensorflow removed in 3.0. It should work now

[2019-11-25 17:25] #172 closed

[2019-11-25 17:34] anandanand84 commented on #162
Tensorflow removed in 3.0. It should work now

[2019-11-25 17:34] #162 closed

[2019-11-25 17:35] anandanand84 commented on #153
Tensorflow removed in 3.0. It should work now

[2019-11-25 17:35] #153 closed

[2019-11-25 17:35] anandanand84 commented on #171
Tensorflow removed in 3.0. It should work now

[2019-11-25 17:35] #171 closed

[2019-12-23 00:22] radian-rgc opened #197 "Draw chart and save it in jpg"
Hi , Thanks for make this project .

How can i draw the all candlestick with Ichimoku or any indicator in jpg image ? this is possible with this library ? or i have to use another ? if another, pls share some think.

Best Regards.

[2019-12-24 15:50] anandanand84 commented on #197
This package does not do that

[2020-01-05 18:50] JKleinne commented on #186
Kinda late, but the way the patterns were coded, in this case it's all three:

[code]
In terms of fundamentals, they're quite similar in that they indicate neutrality or indecision, but generally spinning tops' bodies are larger whereas doji's are narrower. Spinning tops always has long legs on either side, indicating a large variance in the high and low.

Logic should have been implemented so tha

[2020-01-16 19:30] rezaee opened #198 "Argument of type '{ period: any; prices: any; }' is not assignable to parameter of type 'MAInput'"
I want to use `technicalindicators` in my Angular app written in TypeScript, but don't know how to import and use it?

What I want to do is calculating SMA(Simple Moving Averages) of an array.

EDIT:

I have installed `technicalindicators` module using `npm i --save technicalindicators` command. Then I imported it like this:

    import {sma} from 'technicalindicators';

Then I tried to use it lik

[2020-01-16 20:07] hmG3 commented on #198
The class MAInput defined as:
`class MAInput {
    period: number;
    values: number[];
}`

You either need to change the prices variable name to "_values_" or explicitly pass the price array to "_values_" property:
`doSMA(period, prices) {
    console.log('sma result is:' , sma({period, values: prices}));
}`

[2020-01-17 06:43] rezaee commented on #198
Thank you very much!

[2020-01-23 12:00] LooOOooM opened #199 "HeikinAshi needs an option like "precision""
HeikinAshi needs this options as some brokers round all there pricelevels to lets say 0.5. Meaning that a given HA price of 134.05 would be correct, while a price of 13.02 would be simply not existing.
Please fix

[2020-01-24 21:01] trevisanweb opened #200 "Indicator Ergodic Oscillator (SMIO)"
Is it possible to create this indicator?

If anyone knows how to create in javascript can help me?

![image](https://user-images.githubusercontent.com/3501138/73103753-8cd4cf80-3ed3-11ea-8272-099cabb732dc.png)

[2020-01-27 21:01] Rastanislav opened #201 "ADX clarification needed"
Hello, thank you for the great library.
I'm trying to get the ADX values for a single kline using 14 kline period.
For RSI14 Ive used 15 klines to get 1 RSI value.
How many close,high,low values do I need to get 1 ADX value?

example: daily klines for LTCBTC
var inputADX = {
  period : 14,
  low: [ 0.006126, 0.006061, 0.006113, 0.00645, 0.006351, 0.00654, 0.006545, 0.006433, 0.006516, 0.006549, 0.

[2020-02-10 23:18] maximusign opened #202 "Help: Can't get Heikin Ashi to work"
Hi there,

I'm trying to implement the Heikin Ashi chart type, but getting an "Cannot read property 'forEach' of undefined" error. I'm sure it's something I'm doing, and would appreciate any help!

[code]

Is giving me this error.

$ node test.js
/Users/ep/Documents/ft/Node/Vertical/node_modules/technicalindicators/dist/index.js:2616
        input.low.forEach((tick, index) => {
                  ^

[2020-02-12 23:36] jaggedsoft opened #203 "KST Error: FixedSizeLinkedList: Size required and should be a number."
I'm getting an error when using Know Sure Thing, and all the input data appears to be correct.

https://github.com/anandanand84/technicalindicators/blob/066f35bcffbf9f923f45ec28525d1f2a5d063a76/src/Utils/FixedSizeLinkedList.ts#L16

UnhandledPromiseRejectionWarning: Size required and should be a number.

Thank you for your awesome library!

[2020-02-12 23:38] jaggedsoft commented on #202
have you tried this?
[code]

I think it takes `open, high, low, close` values by themselves instead of in a `values` object

[2020-02-12 23:51] jaggedsoft commented on #203
[code]

[2020-02-12 23:57] maximusign commented on #202
That worked! Thanks for the help @jaggedsoft!

[2020-02-12 23:57] #202 closed

[2020-02-24 19:59] xmspix opened #204 "EMA and SMA returns the same values"
EMA and SMA with same period returns the same result

[2020-02-25 06:11] xmspix commented on #204
sorry it was my mistake i didn't reverse the close prices

[2020-02-25 06:11] #204 closed

[2020-03-03 12:02] Jahans3 opened #206 "What order do we provide data in? Docs don't say"
Great library, was hoping someone could let me know what order we should provide our time series data in? Oldest first or newest first? Thanks

[2020-03-03 16:24] anandanand84 commented on #206
By default you should provide oldest first. You can also provide latest first if you set the flag reversedInput:true when you call

[2020-03-03 16:24] #206 closed

[2020-03-06 12:40] ProgrammingLife opened #207 "Bug with the Renko chart types? (an image and a source code included)"
Maybe I'm using this part of library incorrect? I've attached my source code, source data and the image as a output for that data. It looks like:

![](https://i.imgur.com/C5xx5zR.png)

And my source code is:
[code]

Why do I get such strange shadows?

[2020-03-06 13:08] ProgrammingLife commented on #207
If I use for testing purposes:
`let renko = new technicalIndicators.HeikinAshi(renkoOriginalData).result;`

all works fine. Shadows place in the right places. Looks like the issue only with the Renko chart type.

[2020-03-06 13:33] ProgrammingLife commented on #199
@LooOOooM maybe this can be fixed easily with the:
`technicalIndicators.setConfig("precision", 10);`
option?

[2020-03-14 11:25] cwouter commented on #200
Everything is possible. I've found the math on the following page: https://www.motivewave.com/studies/smi_ergodic_oscillator.htm

[code]

The difficulty may be that you need to combine multiple indicators to create the output value. But this has been done before in the ADX indicator: https://github.com/anandanand84/technicalindicators/blob/master/src/directionalmovement/ADX.ts

[2020-03-16 01:18] #197 closed

[2020-03-25 11:51] ruslankonev opened #208 "Why RSI indicator show different values then in TradingView"
Why the same timeframe and period calculation show the different values on TradingView chart and calculated, especially when price is speed down or grow?

The first start with fetched candles show the correct value, but when price moving fast, Tradingview chart slowly increase or decrease indicator, but calculated RSI is totally wrong.

As example when on TV value is 34, calculated value can be 70

[2020-03-26 18:27] tusharsinghal1610 commented on #204
It still gives the same output, how did you resolve?

[2020-03-26 20:07] xmspix commented on #204
hi, you should try to reverse the data...

in my case i take stocks data from yahoo, here is what i did and it worked :

export const SMA = ({ values, period }) => {
return Indicator.SMA.calculate({
period: period,
values: values.reverse()
}).reverse()[0];
};

export const EMA = ({ values, period }) => {
return Indicator.EMA.calculate({
period: period,
values: values.reverse()
}).reverse()[0];
};

[2020-03-27 03:34] tusharsinghal1610 commented on #204
I have my data suppose [4,5,6,7,8,9]
if i use period 4
EMA gives = 7.5 (just the simple average of last four)
SMA gives = 5.5 (just the simple average of first four)

actually when you are using reverse() inside function , it reverses array two times , thus gives different averages one starting , and one ending

[2020-03-28 21:58] ruslankonev commented on #208
I was wrong with the calculations

[2020-03-28 21:58] #208 closed, assigned to nobody

[2020-03-31 00:12] ZappaBoy opened #210 "Missing CrossOver and TypicalPrice export in index.d.ts"
Missing lines in declarations/index.d.ts:
[code]

Pull Request: https://github.com/anandanand84/technicalindicators/pull/209

I hope that's was helpful

[2020-03-31 09:13] LooOOooM commented on #199
This does not work.

[2020-04-01 15:52] jigarkanakia5 opened #211 "Not giving proper output of pattern detection"
Hi,

Starting with huge thanks for developing such a wonderful plugin. It really make easy life.

I am using this plugin from last most and now moved to patter detection part.
While back testing i have found unexpected output for given data. In chart i can see market is in downtrend but isTrendingDown gives False as output.
i have attached screenshots for more detail.

Note:-
technicalindicators 2

[2020-04-02 18:39] jigarkanakia5 commented on #211
Hi,

Please help me.
I am finding issue with the output of this plugin with double top data.
Plugin always give output as DB(Double bottom) with prediction range from 0.3 to 0.9.

In attached chart there is perfect double top pattern formed on 31/12/2019. But plugin produce output as DB.

To reproduce please use testdata.txt.

Note:-
technicalindicators 2.0.8
Candle time frame :- 30 min
Data lengt

[2020-04-03 22:55] ihorskyi opened #212 "How to import StockData class?"
I was trying to use

[code]

Seems like `StockData` was not exported in `index.d.ts`

[code]

[2020-04-05 21:22] tredondo opened #213 "Bollinger Bands - use EMA?"
What type of MA does BB use? I don't see any docs.

I assume it uses SMA? Is there an option to use EMA?

[2020-04-06 16:34] anandanand84 commented on #213
BB uses SMA, currently it is not possible to use EMA, pull request welcome, similar feature is implemented in MACD, https://github.com/anandanand84/technicalindicators/blob/master/src/moving_averages/MACD.ts#L31

[2020-04-06 16:35] anandanand84 commented on #211
pattern detection was removed in version 3.0.

[2020-04-07 15:15] tredondo commented on #213
I tried installing the package but it broke at [canvas](https://github.com/Automattic/node-canvas/issues/1512#issuecomment-610445961).

Is there a lightweight way of adding tests? If I just add an option to an indicator, seems like a test should just compare the output to an array.

[2020-04-10 12:50] sajadonline opened #216 "incorrect calculator RSI"
hi
i used rsi for calculator

const rsi = require('technicalindicators').RSI
prices = [4261,4689,4400,6463,9837,13715,10285,10325] // first transaction from binance BTC
var period = 3
var cal = rsi.calculate({period : period, values : prices})

when i comparison this number and rsi binance is very incorrect

code result : [ 89.6, 96.31, 98.26, 57.84, 58.14 ]
//binance persent rsi period 3 from 201

[2020-05-01 08:19] basvdijk opened #217 "Stochastic RSI (StochRSI) example page gives 404"
In the README.MD the link to the `17. Stochastic RSI (StochRSI)` is broken. The url it links to is: https://runkit.com/anandaravindan/stochasticrsi which gives a 404

[2020-05-04 07:43] Vasile-Peste opened #218 "A clarification on indicators usage"
Removed.

[2020-05-05 14:29] #218 closed, assigned to nobody

[2020-05-05 15:49] Vasile-Peste commented on #216
I am also getting completely different results compared to other online tools/brokers... UP.

[2020-05-09 09:23] HubBlox opened #219 "Indicator Request"
It would be really great to see the McGinley Dynamic in this library. Sorry if this is the wrong place for requests 🙂

[2020-05-11 10:23] redstrike opened #220 "Calculated EMA seems not accurately"
I am trying to calculate EMA and SMA of the same data values. However, the result is the same.
When comparing to TradingView's calculated EMA, it's not matched.

![image](https://user-images.githubusercontent.com/2168227/81551562-40db6700-93ac-11ea-9586-25603c4c9682.png)

[2020-05-16 22:39] djflux commented on #213
@tredondo what OS are you using to do development? I had the same issue as you did getting canvas installed. Currently using node v12.16.3 on macOS Catalina.

I've played around with the packages.json file a little and I think I got it working but can't seem to get things rolling.

Let me know.

Thanks,
Flux

[2020-05-17 23:30] juanvisoler commented on #220
Same for MACD

[2020-05-18 13:05] juanvisoler commented on #220
Probably because it's using EMA by default

[2020-05-18 20:12] juanvisoler commented on #220
@redstrike EMA looks correct. Depending on the parameters they can yield the same results or not.

Look at this example:

`
const SMA = require('technicalindicators').SMA
`
`
let period = 3;
`
`
let values = [1.5554, 1.5555, 1.5558,1.5560];
`
`
SMA.calculate({period : period, values : values})
`

`
const EMA = require('technicalindicators').EMA
`
`
let period = 3;
`
`
let values = [1.5554, 1.5555,

[2020-05-19 07:54] redstrike commented on #220
@juanvisoler I did an EMA calculation with a larger dataset before trying the above simple example and compare it with other true sources such as TradingView, and believe that EMA result is not accurate.

[2020-05-19 21:22] juanvisoler commented on #220
@redstrike can you give an example?

[2020-05-19 21:45] redstrike commented on #220
![image](https://user-images.githubusercontent.com/2168227/82381401-590a5080-9a54-11ea-9378-36291af54a37.png)
finmath's EMA result is more accurate as expected.
Also, I compare the result with TradingView's calculated result, so I want to report this issue.
If you believe that technicalindicators' EMA result is correct, then I have no more comment.

[2020-05-22 09:43] ramprasathram1998 commented on #201
For Get one ADX, Give no of values as 2 times of your period, ie..Consider period = 4, No of values = 2(4) = 8;
In your case, Period = 14, then no of values = 2(14)= 28.

[2020-05-28 10:23] SirHodlington opened #221 "Indicator request: RMI (Relative Momentum Index)"
rmi relative momentum index

[2020-06-01 04:59] mortezae commented on #221
anandanand84,Thanks to your great work, Not to open a new issue, I really like to see VPT in this library.

[2020-06-01 05:10] mortezae commented on #219
anandanand84,Thanks to your great work, Not to open a new issue, I really like to see VPT in this library.

[2020-06-01 05:48] mortezae commented on #122
For people who reach this issue via search: this question is answered in #123

[2020-06-25 01:07] oscarmoutinho commented on #216
Also different from tradingview.com RSI.

[2020-07-09 14:56] guzmo commented on #179
I don't know anything about this library, but some about javascript.
You are calling async functions but not waiting for them. When you try to console.log(...) the isTrendingDown()/isTrendingUp() functions might not be done.
Easiest way for you to see if that is the problem is to actually log inside of the then() function.

`isTrendingDown({
   values: closeInput
 }).then(function(response) {
   c

[2020-07-10 08:30] callmekatootie commented on #159
@sivaraj-v Your input gives `false` for Bullish Harami using this library, but in my opinion, it should be true. Your inputs indeed follow the pattern of Bullish Harami. I believe there's a bug here with the library

[2020-07-29 19:54] ColCh opened #222 "[PERFORMANCE] Provision indicator class with pre-computed values"
As I see, SMA (for example) starts with zero values

https://github.com/anandanand84/technicalindicators/blob/7740f17cf681a2b1ace3009f5f396c14cbadf1f1/lib/moving_averages/SMA.js#L24

https://github.com/anandanand84/technicalindicators/blob/7740f17cf681a2b1ace3009f5f396c14cbadf1f1/lib/moving_averages/SMA.js#L21

https://github.com/anandanand84/technicalindicators/blob/7740f17cf681a2b1ace3009f5f396c

[2020-08-06 08:08] tredondo commented on #213
@djflux: I was using Ubuntu and I submitted [a patch](https://github.com/anandanand84/technicalindicators/pull/215) to add EMA support for Bollinger Bands.

Hope it gets merged.

[2020-08-10 20:04] adsonvinicius commented on #216
So is this indicator is not true reliable at all?

[2020-08-10 20:56] rlmomin commented on #216
Indicator works.  I have a database with over 4000 symbols with 20yrs+ data.  I just checked my results against values in thinkorswim and are accurate to 1/100th.

[2020-08-10 20:59] adsonvinicius commented on #216
@rlmomin thanks by your info. I was checking this library issues and I could see some questions about the indicators results. Of course there are people's mistakes or misunderstandings about how to check and interpret values so I was looking for responses like yours.

[2020-08-10 21:20] oscarmoutinho commented on #216
I think there are different views about the calculation rules.
For tradingview.com RSI equivalence, I recreated RSI calc (AverageGain/AverageLoss) using WEMA (RMA).
Something like:
_rsi(x, y) =>
    u = max(x - x[1], 0) // upward change
    d = max(x[1] - x, 0) // downward change
    rs = rma(u, y) / rma(d, y)
    res = 100 - 100 / (1 + rs)
    res

[2020-08-17 01:56] thicow opened #223 "bullishspinningtop and bearishspinningtop return the same result"
bullishspinningtop and bearishspinningtop return the same result to this sample:
`import * as ti from 'technicalindicators';`
`var singleInput = {`
  `open: [19.72],`
  `high: [19.86],`
  `close: [19.67],`
  `low: [19.38],`
`}`

`const bullishspinningtop = ti.bullishspinningtop;`
`bullishspinningtop(singleInput); // return true...`

`const bearishspinningtop = ti.bearishspinningtop;`
`bearishspinn

[2020-09-29 07:09] pawelotto opened #224 "Please consider adding HMA"
This library is absolutely awesome thank you for creating it!

Did you consider adding HMA (Hull Moving Average)? It's been extremely popular recently.

Folks, please vote up if you'd also like to have it added.

[2020-10-09 09:49] hamedf62 opened #225 "draw candlestick chart with an indicator"
Hi @anandanand84
thank you for the great package.

i have a basic question kindly advise...
 i need to use chart builder something like you use in "crypto trading hub",
how can i do the same?
does any library to use the same? i have my own data on private server.

thank you

[2020-10-12 20:46] amirimatin commented on #225
same issue

[2020-10-26 10:30] Georgy45 commented on #134
Hi,

I have the same thing directly in Node.

Searched a bit, and found out that for some reasons, the stDev var is not passed (it returns "undefined" in BollingerBands class).
I replaced stDev by 2 in the BollingerBands class, lines 828/829 of /dist/index.js, and now it works.

[2020-11-26 08:07] Hanggi commented on #225
Is the trading-hub an open source project?

or it's totally private?

[2020-12-03 04:59] imex1026 opened #227 "TypeError: crossOver is not a function"

[2020-12-07 09:37] sajuuk31 commented on #216
Hello, I was having the same issue as the OP and tried your method (using WEMA with rsiPeriod and EMA with 1/rsiPeriod. It provided me with the same result as the original RSI from this package. Do you have any idea?

[2021-01-06 11:00] MoJongleur opened #228 "Bullishspinningtop and bearishspinningtop functions strange"
i have following code:

const testInput = { open: [ 5 ], high: [ 7 ], close: [ 2 ], low: [ 1 ] };

const bullishspinningtop = require('technicalindicators').bullishspinningtop;
console.log(bullishspinningtop(testInput))
const bearishspinningtop = require('technicalindicators').bearishspinningtop;
console.log(bearishspinningtop(testInput))

console:
true
false

But why am I getting this kind of res

[2021-01-11 10:06] Ed-zo commented on #225
@hamedf62  and @amirimatin I am not sure if this will help but Trading View has a lite version of their charting system. You are able to draw candle chart with line series. Have a look at the demos:

Demos: https://www.tradingview.com/lightweight-charts/
Github: https://github.com/tradingview/lightweight-charts

[2021-01-30 10:53] LuisAlejandro commented on #211
@anandanand84 may I ask why? I'm considering using version 2.0 just to be able to use pattern recognition, but I'm interested in knowing why it was removed to better assess my options.

[2021-02-02 23:09] andrekadlcek opened #229 "bad ts declaration for ADX nextValue"
Hi,
I found a bad ts declaration for ADX nextValue value in ADX.d.ts line 18
nextValue(price: number): ADXOutput | undefined;
should be
nextValue(price: {
        high: number;
        low: number;
        close: number;
    }): ADXOutput | undefined;

anyway good work thank you

Andre

[2021-02-06 05:40] arthuryeti commented on #211
@LuisAlejandro same as you. I would like to use the double bottom pattern recognition.

[2021-02-12 12:49] yovanoc commented on #216
Could someone send a PR to have this RSI like tradingview?

[2021-02-13 13:32] jelofsson commented on #211
I'm also looking for pattern recognition, would like to use it.

[2021-03-16 14:35] QuantBull commented on #220
我用EMA计算的结果也是有问题哎

[2021-03-17 02:08] QuantBull commented on #220
是我错了，当数据量较小时计算结果似乎不正确，但当数据量足够大时是没问题的，这个库非常棒

[2021-03-17 02:35] QuantBull opened #231 "How to update the last bar indicators?"
Hi @anandanand84:
I can append the newest bar with calling indic.nextValue. But if not append , just only want to update the last bar with the newest bar data which have the same xAxis value, how to coding? Are there some tips.

[2021-03-17 02:56] iamweilee commented on #231
I want to pop the last data from the linklist and calling indic.nextValue with the newest data, but I don't know how to pop. I can't operate the linklist directly.

[2021-03-17 03:10] #231 closed, assigned to nobody

[2021-03-18 18:46] kaykyr opened #232 "Fractal Indicator"
Hello my friends, this library is awesome! But recently I as looking for fractal indicator and I didn't found here, and I'd like to know if someone know any library with fractal?

[2021-03-20 15:52] QuantBull commented on #220
唯一的遗憾是只能nextValue不能updateCurrentValue

[2021-03-23 23:27] #232 closed, assigned to nobody

[2021-04-28 22:58] keremcankabadayi commented on #132
I think its not fixed.

[2021-04-30 23:33] rakirox opened #233 "StochasticRSI documentation"
there is a missing documentation of StochasticRSI, I was wondering if it works? or if can someone explain me the correct usage and input set?

[2021-05-01 12:28] 024N commented on #233
You can use like that.
 const closeValueList = [
 632.97, 629.68, 631.54,  633.5,
  635.08, 632.96, 632.55, 628.95,
  631.12,  629.1, 626.97,  623.6,
  626.95,  623.8,  625.9, 630.37,
  629.11,  625.1, 621.47, 614.03,
  618.17, 623.19, 618.12, 616.94,
  619.97, 619.07, 620.47,  624.3,
  623.79, 623.68,    627, 627.83,
  627.19 ]

 const inputStochasticRSI = {
    values: closeValueList, // your la

[2021-05-05 13:34] #233 closed, assigned to nobody

[2021-05-13 17:12] EatsJE opened #234 "RSI Input Values"
Hi! Firstly, thanks for developing an awesome package!

Its a bit of a stupid question, but I can't find the answer in any docs/issues. What are the input vales for RSI?

`const rsi = require('technicalindicators').rsi;`

`rsi({????});`

The Binance API returns 15 day price data (to calc 14d RSI) in the below format, what calculation needs to be made before passing into the rsi() function?

  [

[2021-05-15 14:55] trevisanfelipe opened #235 "Incorrect calculator SAR"
hi
i used SAR for calculator

when i comparison this number and SAR binance is incorrect

please help me

[2021-05-18 20:38] rlmomin commented on #234
@EatsJE The link provides an example on how to use the calculation: https://runkit.com/anandaravindan/rsi

The RSI can be calculated on any type of value, in my case I use the close price.  Create an Object with keys, values and period.  Values should be an array of 'close' prices or whatever you choose.  The period should be the RSI period you want to evaluate.  Keep in mind that RSI calculation

[2021-05-20 20:05] ProgrammingLife commented on #175
Any update?

[2021-05-21 10:07] elyas74 opened #236 "Incorrect Stochastic output"
I can't match Stoch modules output with tradingview output,

any idea or sample code for it?

thanks.

[2021-05-22 18:50] ericauv commented on #203
This looks like it causes issues with anything that relies on FixedSizeLinkedList. (e.g. StochasticRSI, which relies on Stochastic) 😔

[2021-05-26 18:44] quanxufeng commented on #235
I've met this problem too, so I would like to know how you'd fixed it.
really appreciate for it

[2021-05-27 11:52] Succubussix opened #237 "this bugging me for so long about how this script works like this reeeeeeee xD ahahaha"
so in rsi. if u give it a 500 array it returns 486. but why.. how can I align it per candles..

its has same value as tradingview.. the end of the 486 matches the end of the candle from traiding view..

what happen to other 14 do i just put 0 on it? in the start?..  also some of it is inacurate

..........

also same as macd ... and also its returning inacurate result also

example data
[code]
it

[2021-05-31 22:01] Adam-Harte opened #238 "ATR not correct?"
backtesting a trading strategy that uses the ATR for stop loss and take profit but the ATR seems way too high. Its being calculated in the thousands here but when I go to trading view/binance it is only in the hundreds.

[2021-06-01 10:35] Adam-Harte commented on #238
ok so think ive figured it out. If you are using something like the binance api you want to take the atr you get calculated here and multiply it by the tick size e.g. BTC tick size is 0.01 so a 1000 ATR from here multiplied by 0.01 BTC tick size gives you 10 which is the real ATR values you want to base your stop loss and take profits from

[2021-06-06 07:11] anhnnp commented on #236
I think so. Any one is not match?

[2021-06-06 10:03] kiransalian91 opened #239 "How many days closing price should be passed to calculate RSI(14)"
Below I am passing 15 days closing price (oldest close price first).

    const rsi = this.calculateRSI.calculate({
      period: 14,
      values: [  153.6, 146.65, 146.4, 147.5, 152.7, 154.45, 150.45, 149.55, 153.6, 161.85,  160.75, 159.0, 163.85, 163.25, 161.05 ]
    });

  I get response as below.
  console.log(rsi) // [58.67].

  But actual RSI value which is displayed in Zeroda or TradingVie

[2021-06-11 08:07] indexofrefraction opened #240 "Stochastic not correct?"
GOOG 2021 May 12th
technicalindicators --> Stochastic d=24.75, k=4.06 (using period=14, signalPeriod=3)
Yahoo Finance --> Stochastic d=24.75, k=44.1

[2021-06-11 09:10] indexofrefraction commented on #240
ok.. my bad... if you turn off "smooth" in yahoo, then k is 4.06, too

[2021-06-20 17:41] saru2020 commented on #239
Yes, the calculations vary b/w tradingview & RSI in this lib.
I suppose it is the duplicate of #216

[2021-06-20 17:45] saru2020 commented on #216
What's 'x' here? @oscarmoutinho

I don't see this working:
<img width="396" alt="Screenshot 2021-06-20 at 11 15 06 PM" src="https://user-images.githubusercontent.com/1034916/122683523-5bbe1300-d21d-11eb-92eb-555c696fd787.png">

Inputs please! [Btw, I'm relatively new to this arena]

[2021-06-24 09:09] casparss commented on #100
This TA package supports generated support/resistance data. Haven't used it yet, I'm using manual trendlines at the momemt but fully intend to implement this.

https://www.npmjs.com/package/trendyways

[2021-07-04 19:48] Kos-M opened #241 "Example Playground Not Found Dep"
Hi , i found playground not works at all.
http://anandanand84.github.io/technicalindicators/

throws 404 for this file.
https://anandanand84.github.io/declarations/generated.d.ts

[2021-07-05 01:07] tvdaredevil commented on #240
Close the issue!

[2021-07-05 06:02] #240 closed, assigned to nobody

[2021-07-14 02:21] vandat1995 opened #242 "SMA returns NaN"
Hi there,
I'm using

const SMA = require('technicalindicators').SMA;
var results = SMA.calculate(input);
But results return NaN; Please help me!
Thanks

with `input` ;
{
  period: 2,
  values: [
    '31568.07', '32255.56',
    '34687.71', '34487.22',
    '35911.26', '35031.39',
    '33489.96', '33760.94',
    '34652.94', '35280.16',
    '33672.72', '34206.01',
    '33845.64', '32852.04',
    '3380

[2021-07-14 02:41] vandat1995 commented on #242
close my issue, I have not parse input value to number

[2021-07-14 02:41] #242 closed, assigned to nobody

[2021-08-19 23:46] marcusmota commented on #239
the lib works, try to add more data to RSI, I think the values starts to match with the tv RSI with 100+ candles

[2021-08-19 23:47] marcusmota commented on #236
Mine is correct, just add more candle data 👍

[2021-08-28 13:27] enriquepiatti opened #244 "is ADX correct (difference with TradingView)"
I'm comparing the results from TradingView charts (with ADX built in indicator), same input period, same candles (this is ok because the SMA for example is returning same values in TradingView and with technicalindicators), but the result for ADX is not the same!
Does somebody know why is that?
Do you know some other chart with ADX indicator to compare with a 3rd reference?

This is the code used

[2021-08-28 14:44] enriquepiatti commented on #244
One difference seems to be the smooth function used, TradingView is using "rma":

that gives some small difference in "plus" and "minus" from TradingView (corresponding to pdi and mdi from technicalindicators).

But the important difference in values I think is in the last formula for adx, are TradingView and Technicalindicators doing different things?

[2021-08-29 14:11] saru2020 commented on #239
@marcusmota thanks for the reply.
Are you saying that the lib works only with 100+ candles (meaning the period should always be >100 ?) Is this documented anywhere?
I've been trying to get a fix for this issue for a very long time now. Please see if you can provide any input on this: https://github.com/anandanand84/technicalindicators/issues/216#issuecomment-864588738

[2021-08-29 18:30] black-hawk85 commented on #186
If I understood the patterns correctly isBearishSpinningTop shall return true if candle is red and isBullishSpinningTop shall return true if candle is green.

Though I get some cases where both patterns return true.

[2021-08-30 20:42] marcusmota commented on #239
This isn't documented, this is just how I "fixed" the issue :P the value does not need to be 100, try to add more candles until you start to have the same value of tv.

[2021-08-30 20:47] marcusmota commented on #244
see my comment here https://github.com/anandanand84/technicalindicators/issues/239, might work for you as well

[2021-09-05 14:00] bennycode commented on #236
@anandanand84 your [Stochastic Oscillator implementation](https://github.com/anandanand84/technicalindicators/blob/v3.1.0/src/momentum/Stochastic.ts) is very different from the results of the famous [Tulip Indicators](https://github.com/TulipCharts/tulipindicators).

I used the values from the [Example Calculation](https://tulipindicators.org/stoch) of Tulip Indicators and created a test script to

[2021-09-12 05:28] jere-0 commented on #244
I used the following page to develop my custom ADX indicator: https://school.stockcharts.com/doku.php?id=technical_indicators:average_directional_index_adx

Also, you can pull up a chart with the ADX indicator for free on any stock. Good luck!

[2021-09-12 05:44] jere-0 commented on #213
You can just copy the original script and change SMA to EMA on the 6th line.
Or copy and paste the below script to the blank pine editor and save accordingly.

//@version=4
study(shorttitle="BB", title="Bollinger Bands", overlay=true, resolution="")
length = input(20, minval=1)
src = input(close, title="Source")
mult = input(2.0, minval=0.001, maxval=50, title="StdDev")
basis = ema(src, length) //

[2021-09-23 19:50] marcusmota commented on #236
@bennycode if you add more candles you get the same value as tradingview.

👍

[2021-11-24 17:16] sivo1981 commented on #235
Same with me. I think the starting point is the problem comparing with Tradingview pinescript where closing price is included.
[code]

[2021-11-25 21:30] ftzi opened #247 "Is there a better and maintained lib?"
This one doesn't have a update for 2 years and there are important opened issues. Do anyone knows a better alternative?

[2021-12-14 10:42] albizeka commented on #247
Hi i found a library named tulind, it seems promising but i find this library more suitable for me.

[2021-12-14 11:25] denernun commented on #247
I have tried using "trading-signals" but it is very very slow. This one
works very well in calculating the RSI.

On Tue, Dec 14, 2021 at 7:42 AM Albi Zeka ***@***.***> wrote:

[2021-12-20 18:24] masoudnfd opened #248 "diffrence with tradingview and this RSI calculation"
Hi
I read https://github.com/anandanand84/technicalindicators/issues/216 but my problem was not solved .

closePrice = [
    46183.55, 46116.61, 46412.41, 45974.08, 46307.49, 45713.94,
    45721.52,  46092.6, 45882.54,  45839.4, 46283.24, 46429.19,
    46557.32, 46433.18, 46967.48, 46687.22, 46731.84, 46619.56,
    46880.83, 46681.23, 47296.66, 46730.35, 46776.39, 46673.93,
    47121.57, 47141.22,

[2021-12-25 10:39] rishikesh2003 commented on #248
Have you checked that you are using the same periods?

[2021-12-26 10:38] masoudnfd commented on #248
yes
the RSI formula is wrong in this package

[2021-12-26 11:32] rishikesh2003 commented on #248
Can you share your code?

[2021-12-26 17:33] denernun commented on #248
Sorry for my english.

try to use an array with 90 elements for calculation. In my case, the RSI
of 14 periods is exactly the same as the trading view.
I tried using trading-signals lib, but they are very, very, very slow, but
the result is the same.

On Sun, Dec 26, 2021 at 8:33 AM Rishikesh S ***@***.***>
wrote:

[2021-12-30 01:16] dipankar08 opened #249 "Looks like most of indicator calculation is wrong."
I have tried to use this indicator and I found significant different the actual value and the values provided by this indicator module.  Looks like RSI, PSAR, MACD proving the wrong results. ( while examine with talib, tradingview ). I see only SMA is working as expected.

I think the libs is not yet ready for prod usecase.

[2022-01-06 21:06] da7a90 commented on #249
I believe the same, I was using a library that depends on this one and the results are off and only sma and ema are working

[2022-01-11 19:57] moshtaghi commented on #249
Since the calculation is based on historical data and serially, to have an accurate result, the number of input candles must be increased to 1000. :)

[2022-01-14 16:04] ricardonunesdev opened #250 "Bullish Hammer calculation is incorrect"
Hi @anandanand84 and @marcus-n3rd,

I love this module, but it looks like your Bullish Hammer calculation is incorrect.

File: technicalindicators/src/candlestick/BullishHammerStick.ts ([link](https://github.com/anandanand84/technicalindicators/blob/master/src/candlestick/BullishHammerStick.ts))
Line: 18

`isBullishHammer = isBullishHammer && (daysClose - daysOpen) <= 2 * (daysOpen - daysLow);`

T

[2022-01-14 16:52] rlmomin commented on #250
I dont think so.  A bullish hammer has a tail that is bigger (2x in this
code) than the body.  Line 18 identifies the body as (daysClose - days
Open).  The tail is identified as (daysOpen - daysLow).  So the body is <=
2x tail.

Rehan

On Fri, Jan 14, 2022 at 10:04 AM Ricardo Nunes ***@***.***>
wrote:

[2022-01-14 17:08] ricardonunesdev commented on #250
Hi @rlmomin,

I agree with your logic, but now with the code.

**Example:**
If the body has a size of 10 and the tail has a size of 5, `10 <= 5 x 2` returns true, even though this is clearly not a hammer (body@10 is 2x the tail@5).
The actual formula should be `2 x body <= tail` which would return false for the above values `2 x 10 <= 5` but would return true if the body has a size of 5 and the ta

[2022-01-14 17:15] rlmomin commented on #250
Yes, you are correct.  The formula should be 2 x body <= tail.  Thank you
for the example.  Good catch.

On Fri, Jan 14, 2022 at 11:08 AM Ricardo Nunes ***@***.***>
wrote:

[2022-01-14 17:17] rlmomin commented on #249
I agree with his statement.  I use this library and use over 1000 candles.  The calculations match exactly with my charts on the TD Ameritrade ThinkorSwim platform.

[2022-01-16 01:34] nenjotsu opened #251 "Deno Support"

[2022-01-16 07:43] rishikesh2003 commented on #249
Yes, I also agree. I've used most of the indicators in this library and I still don't find any errors in the value. You should give more input data in order for the calculations to be accurate

[2022-01-18 03:55] ikulichkov opened #252 "Error in mfi calculating"
Hello, you have an error in the MFI calculations and wrong calculating

now:

after:

and now calculating is corret

[2022-01-18 04:00] ikulichkov commented on #248
RSI calculate true, im using this packages without errors

[2022-01-20 14:30] ricardonunesdev commented on #250
Created a PR #253 with a fix for this issue.

[2022-02-16 16:21] Wh1rlw1nd opened #254 "Unequal ROC indicator output in compare to Binance real time data"
I see there is already some questions about this, and probably its me who doesn't use this library correctly.

But, here is what is found in [docs](https://runkit.com/anandaravindan/roc):

[code]

What I tried is this:

[code]
But this way gives me quite accurate RSI value, and when same applied to ROC, a very inaccurate value.

When I say value, I mean that I get last element from results_rsi and

[2022-02-16 21:52] Wh1rlw1nd commented on #254
Ugh, this should be closed. I was comparing the result from the latest candlestick that just started, rather than the one that is lastly completed. Results are actually quite precise, same as on Binance.

[2022-02-16 21:52] #254 closed, assigned to nobody

[2022-03-07 23:57] ezcafe commented on #240
How to use smooth with Stochastic?

[2022-03-20 16:23] muratozenc commented on #237
The data provided by the indicators are correct,  I am using them, maybe there is a 1% error but it can ignored.

If you need to calculate RSI(6), which means RSI calculated last 6 candles, the result provided by the function is going to be empty for the first 6 candles, which is natural because function tries to give you results by using them.

https://www.binance.com/tr/trade/COS_USDT?layout=pro

[2022-04-27 23:59] esuarezz opened #255 "Is not working with candles of 4H the SMA"
Hi! is this possible?
So its working perfectly with 5 minutes candles and 1h candles but with 4h candles the SMA is giving wrong results

[2022-05-09 00:10] renantori commented on #170
Did you get some example? Need it too.

[2022-07-24 14:15] K4L231 opened #256 "MACD signal and histogram undefined"
![image](https://user-images.githubusercontent.com/91840629/180651130-d0edc57d-a69f-4386-8ed4-0f173ecf56e4.png)
any ideas?

[2022-08-17 18:37] marcusmota opened #257 "[TIP] for people getting wrong values"
Hi guys I noticed a lot of people are complaining about having wrong values.

my RSI has the correct values, keep in mind the indicator values and the candle close values have different array lengths

let's say you have

[code]

keep in mind `rsi.length !== arrClose.length` so if you add a loop to iterate through arrClose and use the index to access the rsi[i] you will get the wrong value for your

[2022-09-18 22:49] sukantary opened #258 "Request for adding Hull Moving Average (HMA)"
Hi,
Could you please add **Hull Moving Average** (**HMA**) to the **Moving Average** section.

[2022-10-01 03:26] munrocket commented on #258
Added into [ta-math](https://github.com/munrocket/ta-math), you can leave feedback.

[2022-10-01 12:04] sukantary commented on #258
Thank you for your effort. Sure, I'll check.

[2022-10-14 19:03] DroidBoyJr commented on #249
Confirmed. it's the sample set size. For ema interval 50, I took history of 200 points and it showed correct value. If I take only 51 or so, it shows incorrect EMA calculation.

[2022-10-20 08:57] barisxco opened #259 "Moving Average functions but float period"
I was working on ma functions. When i am giving float period like `2.5` it giving wrong results. Pinescript floor it to `2` as default so technicalindicators can.

[2022-11-03 14:29] werlang opened #261 "Ichimoku indicator error"
It seems that the Ichimoku indicator spanA and spanB lines are calculated wrong.
They should be plotted `displacement` periods in the future, but they are not.

Here is a reference for the calculation:
https://www.investopedia.com/terms/i/ichimoku-cloud.asp

I created a chart using TradingvVew lightweight charts, and plotted the ichimoku values as lines. To compare, I picked the same chart on Trad

[2022-11-03 14:55] werlang commented on #261
I believe the error is here. The commented part is responsible for the displacement.

https://github.com/anandanand84/technicalindicators/blob/7740f17cf681a2b1ace3009f5f396c14cbadf1f1/lib/ichimoku/IchimokuCloud.js#L55-L60

[2022-11-03 18:38] werlang commented on #261
I corrected this error. Tried to follow the instructions to create a pull request, but got a bunch of errors.
This should fix the error:

[code]

[2022-11-19 16:32] saru2020 commented on #216
I've found that the RSI works when all the data are given at once meaning don't feed in only period+1 or limited data per se, just input the whole list of values and the RSI indicator precisely matches the values in TV, it just works beautifully.

[2022-11-19 16:32] saru2020 commented on #121
I've found that the RSI works when all the data are given at once meaning don't feed in only period+1 or limited data per se, just input the whole list of values and the RSI indicator precisely matches the values in TV, it just works beautifully.

[2022-11-20 14:30] saru2020 commented on #249
it's a good library, where most indicators seem to be working correctly.

it is true that giving all candles/data works for some indicators like RSI and MACD(for SMA only) but not for all, or at least I see an issue with MACD(EMA based) even after feeding with all the candle/data as input, looks like EMA isn't working properly, are there any inputs to fix this issue?

[2022-11-20 14:38] saru2020 commented on #220
@anandanand84 can you please look into this issue please?
looks like this is what's causing the issue in MACD(EMA based) as mentioned here: https://github.com/anandanand84/technicalindicators/issues/249#issuecomment-1321147767

[2022-11-23 18:19] csidi90 opened #262 "sma always returns null"
I am using a bunch of indicators of this module, but the sma always returns me a null no matter what I enter. I am using it the same way I use the ema and wma both work.

` export function SMA(
  ohlcv: ccxt.OHLCV[],
  period: number,
  getLastValue: boolean,
) {
  const close = ohlcv.map((candle) => candle[CandleIndex.CLOSE]);
  const result = technicalindicators.sma({ values: close, period: peri

[2022-11-23 18:22] csidi90 commented on #262
when I log the whole result I get values, but the last value inside the array is always null. For EMA its not like that